<!DOCTYPE html>
<html>
<head>
    <style>
        .hidden {
            display: none;
        }
        .unhidden {
            display: inline-block;
        }

        img {
            wight: 300px;
            height: 300px;
        }
    </style>

</head>
<body>
<div>
<img id="image" alt="User Image1">

<button id="button_flip" label="OK"/>Flip</button>
<img id="image_hidden" class="hidden">
</div>

<div>
<button id="button_next" label="OK" class="unhidden"/>Next</button>
<button id="button_back" label="OK" class="hidden"/>Back</button>
</div>

<div>
<button onclick="window.location.href='/'">Main Menu</button>
</div>

<script>
    var cards = {{cards | tojson}}
    var index = 0
    document.getElementById("image").src = cards[index][0];

    document.addEventListener('DOMContentLoaded', init, false);
    function init(){
        function message () {
            document.getElementById("image_hidden").src = cards[index][1];
            var image = document.getElementById('image_hidden');
//            image.classList.toggle('hidden');
            image.className = "unhidden"
        }
        var button_flip = document.getElementById('button_flip');
        button_flip.addEventListener('click', message, true);

        function next () {
            index++;
            var image = document.getElementById('image_hidden');
            if (image.className == "unhidden") {
                image.className = "hidden"
            }
            document.getElementById("image").src = cards[index][0];

            var button_back = document.getElementById('button_back');
            if (index == 1) {
                button_back.className = "unhidden"
            }
            if (index == (cards.length - 1)) {
                button_next.className = "hidden"
            }
        }
        var button_next = document.getElementById('button_next');
        button_next.addEventListener('click', next, true);

        function back () {
            index--;
            var image = document.getElementById('image_hidden');
            if (image.className == "unhidden") {
                image.className = "hidden"
            }
            document.getElementById("image").src = cards[index][0];

            var button_next = document.getElementById('button_next');
            if (index == (cards.length - 2)) {
                button_next.className = "unhidden"
            }
            if (index == 0) {
                button_back.className = "hidden"
            }
        }
        var button_back = document.getElementById('button_back');
        button_back.addEventListener('click', back, true);
    };
</script>



</body>
</html>


<!--todo: randomize-->
<!--todo: how can I make this easy for them to start?-->
<!--todo: make it not so ugly-->
<!--todo: incorporate the separate js file -->

<!--&lt;!&ndash;https://stackoverflow.com/questions/31531056/submit-form-data-in-html-and-send-to-server&ndash;&gt;<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<style>-->
        <!--.hidden {-->
      <!--display: none;-->
    <!--}-->

        <!--img {-->
            <!--wight: 200px;-->
            <!--height: 200px;-->
        <!--}-->
    <!--</style>-->

<!--</head>-->

    <!--&lt;!&ndash;for (var i = 0; i < myVar.length; i += 3) {&ndash;&gt;-->

    <!--<img src="{{ user_image1 }}" alt="User Image1">-->

    <!--<button id="button" label="OK"/>Flip</button>-->
    <!--<img id="image" class="hidden" src="{{ user_image2 }}">-->

    <!--<script>-->
    <!--document.addEventListener('DOMContentLoaded', init, false);-->
    <!--function init(){-->
        <!--function message () {-->
<!--//            alert("Hello!")-->
            <!--var image = document.getElementById('image');-->
            <!--image.classList.toggle('hidden');-->
        <!--}-->

        <!--var button = document.getElementById('button');-->
        <!--button.addEventListener('click', message, true);-->
    <!--};-->
    <!--</script>-->


    <!--<FORM>-->
    <!--<INPUT TYPE="button" onClick="history.go(0)" VALUE="Next" name="next_back">-->
    <!--</FORM>-->



    <!--&lt;!&ndash;<form>&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="button" id="next_back" value="Next" name="next_back" onclick="registerUser();">&ndash;&gt;-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--<button id= "next_back" value="Next">Next</button>-->
    <!--&lt;!&ndash;<button id= "next_back" onclick="registerUser();" value="Next">Next</button>&ndash;&gt;-->
    <!--<script>-->
    <!--var username= document.getElementById("next_back").value;-->
    <!--var url="http://localhost:8000/quiz2";-->

    <!--function registerUser()-->
    <!--{-->
              <!--document.getElementById("next_back").action=url;-->
<!--//              alert(username)-->
              <!--document.getElementById("next_back").submit();-->
<!--//              location.reload(False)-->
        <!--window.location.assign("http://localhost:8000/");-->
    <!--}-->
    <!--var button = document.getElementById('next_back');-->
    <!--button.addEventListener('click', registerUser, true);-->
    <!--</script>-->


<!--</body>-->
<!--</html>-->


<!--&lt;!&ndash;https://stackoverflow.com/questions/31531056/submit-form-data-in-html-and-send-to-server&ndash;&gt;-->