<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <form action="/quiz" method='POST' >
        <LABEL for="prompt_type">Prompt Type: </LABEL> <br>
        <input type="radio" name="prompt_type" value="word" checked> Word <br>
        <input type="radio" name="prompt_type" value="def"> Definition/Sentence <br> <br>

        <LABEL for="chapter">Lesson Number: </LABEL>
        <input type="text" name="user_input" />
        <input id="prodId" name="next_back" type="hidden" value="xm234jq">
        <input type="submit" />
    </form>
</body>
</html>
