<!DOCTYPE html>
<html>
<head>
    <style>
        .hidden {
            display: none;
        }
        .unhidden {
            display: inline-block;
        }
        fieldset.optionGroup input {
            float: none;
            margin: 0;
            position: relative;
            /*top: -6px;*/
            width: 10px;
        }
        img {
            height: 175px;
        }
        fieldset {
            /*border: 0;*/
            width: 250px;
        }
        .column {
          float: left;
          width: 30.00%;
          padding: 5px;
        }
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        #field_container1 {
            width: 100%;
            background-color: white;
        }
        #field_container2 {
            width: 100%;
            background-color: white;
        }
        #field_container3 {
            width: 100%;
            background-color: white;
        }
        #field_container4 {
            width: 100%;
            background-color: white;
        }
        .button {
            background: whitesmoke;
            padding: 5px;
            width: 100%;
            height: 50px;
        }
        .button_column {
            float: left;
            width: 23.00%;
            padding: 5px;
        }
        #button{
            width: 100%;
            float: left;
            height: 100%;
            padding: 5px;
        }
        #button_next{
            width: 100%;
            float: left;
            height: 100%;
            padding: 5px;
        }
        #button_start_over{
            width: 100%;
            float: left;
            height: 100%;
            padding: 5px;
        }
        #button_main_menu{
            width: 100%;
            float: left;
            height: 100%;
            padding: 5px;
        }
    </style>
</head>
<body>

    <div>
        <div class="button">
            <div class="button_column">
                <button id="logout"/>Logout</button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="column">
            <div><img id="hero_image"></div>
            <div>
                <p id="ind"></p>
                <p id="b_ind" class="unhidden"></p>
            </div>

        </div>

        <div class="column">
            <div class="field_container" id="field_container1">
                <fieldset class="optionGroup">
                    <input type="radio" name="c1" id="radio1">
                    <label for="radio1"><img id="alternative_hidden1"></label>
                </fieldset>
            </div>
            <div class="field_container" id="field_container2">
                <fieldset class="optionGroup">
                    <input type="radio" name="c1" id="radio2">
                    <label for="radio2"><img id="alternative_hidden2"></label>
                </fieldset>
            </div>
        </div>
        <div class="column">
            <div class="field_container" id="field_container3">
                <fieldset class="optionGroup">
                    <input type="radio" name="c1" id="radio3">
                    <label for="radio3"><img id="alternative_hidden3"></label>
                </fieldset>
            </div>
            <div class="field_container" id="field_container4">
                <fieldset class="optionGroup">
                    <input type="radio" name="c1" id="radio4">
                    <label for="radio4"><img id="alternative_hidden4"></label>
                </fieldset>
            </div>
        </div>
    </div>


    <div>
        <div class="button">
            <div class="button_column">
                <button id="button"/>Submit</button>
            </div>
            <div class="button_column">
                <button id="button_next" class="hidden"/>Next</button>
            </div>
            <div class="button_column">
                <button id="button_start_over" class="hidden"/>Repeat Lesson</button>
            </div>
            <div class="button_column">
                <button id="button_main_menu"/>Main Menu</button>
            </div>
        </div>
    </div>



<script>
    cards_ordered = {{cards | tojson}}
    alternatives = {{ alts | tojson}}
    var cards_shuffled
    var index = 0
    var correct = 0
    var completed = 0
    var first_push = true
    var radios
    var alts
    var button_i
    var correct_bin = false

    document.getElementById('b_ind').innerHTML = "Completed: " + 0 + " / " + cards_ordered.length;
    document.getElementById('ind').innerHTML = "Correct: " + 0 + " / " + completed;

//    var batch_index = 0
//    var batch_size = cards_ordered.length
//    var num_batches = Math.ceil(cards_ordered.length / batch_size)
//
////    document.getElementById('b_ind').innerHTML = "Batch: " + (batch_index + 1) + " / " + num_batches;
////    document.getElementById('ind').innerHTML = "Card: " + (index + 1) + " / " + cards_ordered.length;
//
    function shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex;

        // While there remain elements to shuffle...
        while (0 !== currentIndex) {

        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // And swap it with the current element.
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
        }
        return array;
    }
    cards_shuffled = shuffle(cards_ordered)
    alts = shuffle([cards_shuffled[index][1], alternatives[index][0], alternatives[index][1], alternatives[index][2]])

    document.getElementById('hero_image').src = cards_shuffled[index][0];

    document.getElementById('alternative_hidden1').src = alts[0]
    document.getElementById('alternative_hidden2').src = alts[1]
    document.getElementById('alternative_hidden3').src = alts[2]
    document.getElementById('alternative_hidden4').src = alts[3]

    function checked_radio() {
        radios = document.getElementsByName('c1');
        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                return i
                break;
            }
        }
    }

    document.addEventListener('DOMContentLoaded', init, false);
    function init() {
        function right_wrong() {
            button_i = checked_radio()

            if (button_i == undefined) {
                alert('You need to choose an answer!')
                return
            }
            else {

                document.getElementById('field_container1').style.backgroundColor = "white";
                document.getElementById('field_container2').style.backgroundColor = "white";
                document.getElementById('field_container3').style.backgroundColor = "white";
                document.getElementById('field_container4').style.backgroundColor = "white";
//            var button_i = checked_radio()

                correct_bin = (alts[button_i] == cards_shuffled[index][1])
                if (correct_bin) {
                    if (first_push) {
                        correct++
                    }
                    if (button_i == 0) {
                        document.getElementById('field_container1').style.backgroundColor = "green";
                    }
                    else if (button_i == 1) {
                        document.getElementById('field_container2').style.backgroundColor = "green";
                    }
                    else if (button_i == 2) {
                        document.getElementById('field_container3').style.backgroundColor = "green";
                    }
                    else if (button_i == 3) {
                        document.getElementById('field_container4').style.backgroundColor = "green";
                    }
                }
                else {
                    if (button_i == 0) {
                        document.getElementById('field_container1').style.backgroundColor = "red";
                    }
                    else if (button_i == 1) {
                        document.getElementById('field_container2').style.backgroundColor = "red";
                    }
                    else if (button_i == 2) {
                        document.getElementById('field_container3').style.backgroundColor = "red";
                    }
                    else if (button_i == 3) {
                        document.getElementById('field_container4').style.backgroundColor = "red";
                    }
                }
                first_push = false

                if (index + 1 == cards_shuffled.length) {
                    completed++
                    document.getElementById('b_ind').className = "hidden"
                    document.getElementById('ind').innerHTML = "You answered " + correct + " out of " + completed + " correctly. Nice Work! You're a genius! Perfect practice makes perfect.";
                    document.getElementById('button_start_over').className = "unhidden"
                    document.getElementById('button_main_menu').className = "unhidden"
                }
                else {
                    if (correct_bin) {
                        document.getElementById('button_next').className = "unhidden"
                    }
                }

                var request = new XMLHttpRequest();
                request.open("POST", "/mongo_call", true);
                request.send(JSON.stringify(
                    {
                        "page": "Quiz",
                        "button": "Submit",
                        "radio_button_chosen": button_i,
                        "prompt": cards_shuffled[index][0],
                        "alternatives": alts,
                        "answer_card": cards_shuffled[index][1],
                        "chosen_card": alts[button_i],
                        "completed": completed,
                        "correct": correct,
                        "index": index,
                        "timestamp": Math.floor(Date.now() / 1000)
                    }));
            }
        }
        var button_push = document.getElementById('button');
        button_push.addEventListener('click', right_wrong, true);


        function go_next() {
            index++
            completed++
            first_push = true

            document.getElementById('radio1').checked = false
            document.getElementById('radio2').checked = false
            document.getElementById('radio3').checked = false
            document.getElementById('radio4').checked = false

            document.getElementById('b_ind').innerHTML = "Completed: " + completed + " / " + cards_ordered.length;
            document.getElementById('ind').innerHTML = "Correct: " + correct + " / " + completed;

            document.getElementById('button_next').className = "hidden"

            document.getElementById('field_container1').style.backgroundColor = "white";
            document.getElementById('field_container2').style.backgroundColor = "white";
            document.getElementById('field_container3').style.backgroundColor = "white";
            document.getElementById('field_container4').style.backgroundColor = "white";

            alts = shuffle([cards_shuffled[index][1], alternatives[index][0], alternatives[index][1], alternatives[index][2]])
            document.getElementById('hero_image').src = cards_shuffled[index][0];

            document.getElementById('alternative_hidden1').src = alts[0]
            document.getElementById('alternative_hidden2').src = alts[1]
            document.getElementById('alternative_hidden3').src = alts[2]
            document.getElementById('alternative_hidden4').src = alts[3]

            var request = new XMLHttpRequest();
            request.open("POST", "/mongo_call", true);
            request.send(JSON.stringify(
                {
                    "page": "Quiz",
                    "button": "Next",
                    "radio_button_chosen": "None",
                    "prompt": cards_shuffled[index][0],
                    "alternatives": alts,
                    "answer_card": cards_shuffled[index][1],
                    "chosen_card": "None",
                    "completed": completed,
                    "correct": correct,
                    "index": index,
                    "timestamp": Math.floor(Date.now() / 1000)
                }));
        }
        var button_next = document.getElementById('button_next');
        button_next.addEventListener('click', go_next, true);

        function start_over() {
            index = 0
            completed = 0
            correct = 0
            first_push = true
            cards_shuffled = shuffle(cards_ordered)
            alts = shuffle([cards_shuffled[index][1], alternatives[index][0], alternatives[index][1], alternatives[index][2]])

            document.getElementById('radio1').checked = false
            document.getElementById('radio2').checked = false
            document.getElementById('radio3').checked = false
            document.getElementById('radio4').checked = false

            document.getElementById('b_ind').innerHTML = "Completed: " + completed + " / " + cards_ordered.length;
            document.getElementById('ind').innerHTML = "Correct: " + correct + " / " + completed;

            document.getElementById('b_ind').className = "unhidden"
            document.getElementById('button_start_over').className = "hidden"

            document.getElementById('field_container1').style.backgroundColor = "white";
            document.getElementById('field_container2').style.backgroundColor = "white";
            document.getElementById('field_container3').style.backgroundColor = "white";
            document.getElementById('field_container4').style.backgroundColor = "white";

            document.getElementById('hero_image').src = cards_shuffled[index][0];

            document.getElementById('alternative_hidden1').src = alts[0]
            document.getElementById('alternative_hidden2').src = alts[1]
            document.getElementById('alternative_hidden3').src = alts[2]
            document.getElementById('alternative_hidden4').src = alts[3]

            var request = new XMLHttpRequest();
            request.open("POST", "/mongo_call", true);
            request.send(JSON.stringify(
                {
                    "page": "Quiz",
                    "button": "Repeat Lesson",
                    "radio_button_chosen": "None",
                    "prompt": cards_shuffled[index][0],
                    "alternatives": alts,
                    "answer_card": cards_shuffled[index][1],
                    "chosen_card": "None",
                    "completed": completed,
                    "correct": correct,
                    "index": index,
                    "timestamp": Math.floor(Date.now() / 1000)
                }));
        }
        var button_start_over = document.getElementById('button_start_over');
        button_start_over.addEventListener('click', start_over, true);


        function main_menu() {
            var request = new XMLHttpRequest();
            request.open("POST", "/mongo_call", true);
            request.send(JSON.stringify(
                {
                    "page": "Quiz",
                    "button": "Main Menu",
                    "radio_button_chosen": "None",
                    "prompt": cards_shuffled[index][0],
                    "alternatives": alts,
                    "answer_card": cards_shuffled[index][1],
                    "chosen_card": "None",
                    "completed": completed,
                    "correct": correct,
                    "index": index,
                    "timestamp": Math.floor(Date.now() / 1000)
                }));
            window.location.href = '/';
        }
        var button_main_menu = document.getElementById('button_main_menu');
        button_main_menu.addEventListener('click', main_menu, true);


        function logout() {
            var request = new XMLHttpRequest();
            request.open("POST", "/mongo_call", true);
            request.send(JSON.stringify(
                {
                    "page": "Quiz",
                    "button": "Logout",
                    "radio_button_chosen": "None",
                    "prompt": cards_shuffled[index][0],
                    "alternatives": alts,
                    "answer_card": cards_shuffled[index][1],
                    "chosen_card": "None",
                    "completed": completed,
                    "correct": correct,
                    "index": index,
                    "timestamp": Math.floor(Date.now() / 1000)
                }));
            window.location.href = '/logout';
        }
        var button_logout = document.getElementById('logout');
        button_logout.addEventListener('click', logout, true);
    }


</script>



</body>
</html>

<!--logout button finesse-->

<!--make a log of the one's he missed-->
<!--send the one's he missed to the practice thing-->
<!--make the kid sign in with his name-->
<!--drop down list of lesson number or a correspondence between the lesson number and book-->
<!--I should split the card along the dashed-->


<!--fix the color thing-->
<!--put the lesson at the top of the page-->

<!--make it so could scroll over the card in quiz after hitting submit and see the answer-->
<!--have a mixed random type section-->


<!--i could clean up duplicate code above by making functions-->


<!--todo: should probably add keystrokes to flip and arrows to go to next and back-->
<!--todo: incorporate the separate js file...I can't figure out how to do it, for some reason-->
