<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel=stylesheet>
    <title>Players</title>

</head>
    <style>
        .hidden {
            display: none;
        }
        .unhidden {
            display: inline-block;
        }
    </style>
<body>


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
  <!--<a class="navbar-brand" href="#">Origin of Problems</a>-->
  <!--<div class="collapse navbar-collapse" id="navbarNavDropdown">-->
    <!--<ul class="navbar-nav">-->
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="/quit">Quit</a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->


<div class="col-xs-12 col-sm-12">
    <form onsubmit="return false;">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="num_players">Number of Players</label>
                <input type="text" class="form-control" id="num_players" placeholder="123">
            </div>
        </div>
        <button id="button" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='Simple-jQuery-Plugin-For-POST-Or-GET-Redirection-redirect/jquery.redirect.js')}}"></script>

<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>



<script>
    var num_players;

    document.getElementById('num_players').focus();

    function players_name(num) {
        div = document.createElement("div");
        div.id = 'div';
        div.className = "col-xs-12 col-sm-12";
        document.body.appendChild(div);

        h_tag = document.createElement("H1");
        h_tag.id = 'h1';
        t_tag = document.createTextNode("Enter the names of the players in order of play");
        h_tag.appendChild(t_tag);
        div.appendChild(h_tag);

        for (var i = 1; i <= num; i++) {
            nextChar = i;
            var input = document.createElement("INPUT");
            input.id = 'input' + nextChar;

            var label = document.createElement("Label");
            label.htmlFor = 'input' + nextChar;
            label.innerHTML = 'Player' + nextChar;
            label.className = "col-sm-1 col-form-label";

            div.appendChild(input);
            div.insertBefore(label, input);

            var br = document.createElement("br");
            br.id = 'br' + nextChar
            div.appendChild(br);
        }
    };

    function createButton() {
        var btn = document.createElement("BUTTON");
        btn.id = 'button_record';
        btn.innerHTML = 'Input My Cards';
        btn.className = 'btn btn-primary';
        div.appendChild(btn);
        btn.addEventListener('click', function (event) {

            var player_list = [];
            for (var i = 1; i <= num_players; i++) {
                player_list.push(document.getElementById('input' + i).value)
            }

            $.redirect(
                '/my_info',
                player_list
            );
/*/
            $.redirect(
                '/my_info',
                JSON.stringify(
                    {
                        "player_list": player_list
                    }
                )
            );
*/
//            $.ajax({
//                url: "/my_info",
//                type: "POST",
//                data: JSON.stringify({x: [1.0, 2.0, 3.0], y: [2.0, 3.0, 1.0]}),
//                contentType: "application/json; charset=utf-8",
//                success: function (dat) {
//                    console.log(dat);
//                }
//            });



//            var request = new XMLHttpRequest();
//            request.responseType = 'json';
//            request.onreadystatechange = function () {
//                if (request.readyState == XMLHttpRequest.DONE) {
//                    alert('yeah!')
////                    window.location.href = '/my_info2';
//                }
//            }
//
//            request.open("POST", "/my_info", true);
//            request.send(JSON.stringify(
//                {
//                    "player_list": player_list
//                }
//                )
//            );
        });
    };



    document.addEventListener('DOMContentLoaded', init, false);
    function init() {
        function submit() {
            if (num_players) {
                document.getElementById('div').remove();
            }
            num_players = document.getElementById("num_players").value;
            players_name(num_players)
            document.getElementById("num_players").value = null;

            document.getElementById('input1').focus();

            createButton()
        }
        var button_submit = document.getElementById('button');
        button_submit.addEventListener('click', submit, true);
    };


</script>


</body>
</html>
