<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Performance Dashboards</title>

    <style>
        body {
            font-family: Helvetica;
        }

        .title {
            text-align: left;
            font: 30px sans-serif;
            /*.style("text-decoration", "underline")*/
        }
/*
        .line {
            stroke-width: 5;
        }
*/
        .bottom-label {
            font-size: 13px;
            font-style: italic;
            text-transform: uppercase;
            float: left;
        }
        .perc-label {
            text-align: right;
            font-weight: bold;
            width: 90px;
            padding-right: 10px;
        }
        .point-label {
            text-anchor: end;
        }
        .axis-label {
            text-anchor: middle;
            font-size: 13px;
        }

        /*.axis text {*/
            /*font: 10px sans-serif;*/
        /*}*/

        .axis line,
        .axis path {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
        div.tooltip {
            position: absolute;
            text-align: left;
            /*width: 140px;*/
            /*height: 56px;*/
            padding: 2px;
            font: 12px sans-serif;
            background: lightsteelblue;
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
        }
        .buttons-container {
            width: 520px;
            margin-bottom: 25px;
        }

        .legend rect {
            fill: none;
            stroke: whitesmoke;
            opacity: 1;
        }
        .legend text{
            font: 15px sans-serif;
        }
        .legend line {
            stroke-width: 5;
        }


        .x.axis line {
            /*fill: none;*/
            stroke: #000;
            /*stroke-width: 1px;*/
        }
        /*.x.axis text {*/
            /*font-size: 10px;*/
        /*}*/
        .y.axis line {
            display: none;
        }
        .y.axis text {
            font-size: 13px;
        }

        /*.axis path {*/
            /*!*display: none;*!*/
            /*stroke: black;*/
            /*stroke-width: 1;*/
            /*fill: none;*/
        /*}*/


    </style>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel=stylesheet>

</head>
<body>
<!--todo: resolve this-->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dashboards</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/main_menu">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quit">Quit</a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-sm-auto">
    <div class="form-row">
        <div class="form-group col-sm-auto">
            <select class="form-control" id="choose_kid">
                <option value="choose" selected="selected">choose kid</option>
                <option value="calvin">Calvin</option>
                <option value="samuel">Samuel</option>
            </select>
        </div>
        <div class="form-group col-sm-auto">
            <button id="kid_button" type="submit" class="btn btn-primary">Update Kid</button>
        </div>

        <div class="form-group col-sm-auto">
        </div>

        <div class="form-group col-lg-auto">
            <select class="form-control" id="choose_dash">
                <option value="choose" selected="selected">choose dashboard</option>
                <option value="time" >Performance Over Time</option>
                <option value="origin">Performance by Problems of Origin</option>
                <option value="tests">Performance on Chapter Tests</option>
            </select>
        </div>
        <div class="form-group col-sm-auto">
            <button id="dash_button" type="submit" class="btn btn-primary">Update Dashboard</button>
        </div>
    </div>
</div>


<script>
        document.getElementById('choose_kid').focus();
        var choose_kid = "choose";
        var choose_kid_val;
        var choose_dash = "choose";
        var choose_dash_val;
        var fromDB;
        var timeData;
        var probData;
        var scoreData;
        var testData;

        function parse(str) {
            var y = str.substr(0, 4),
                m = str.substr(5, 2),
                d = str.substr(8, 2);
            return new Date(y, m, d).toString().split(' ').slice(0, 4).join(' ')
        }
        function timeTransform(df) {
            for (i = 0; i < df.length; i++) {
                df[i].date = parse(df[i].date)
            }
            return df
        }
        function getData(kid, book) {
            var request = new XMLHttpRequest();
            request.responseType = 'json';
            request.open("POST", "/query_performance", true);
            request.onload = function () {
                fromDB = JSON.parse(JSON.stringify(request.response))
                timeData = timeTransform(fromDB[0]['df_time_data'])
                probData = fromDB[1]['df_prob_data']
                scoreData = fromDB[2]['df_score_data']
                testData = fromDB[3]['df_test_data']
            };
            request.send(JSON.stringify(
                {
                    "book": book,
                    "kid": kid
                }
                )
            );
        }

        document.addEventListener('DOMContentLoaded', init, false);
        function init() {
            function updateKid() {
                choose_kid = document.getElementById("choose_kid");
                choose_kid_val = choose_kid.options[choose_kid.selectedIndex].value;
                choose_kid.value = choose_kid_val;

                choose_dash.value = "choose";
                svg.selectAll("*").remove();

                if (choose_kid_val == "samuel") {
                    getData("Samuel", "Math_7_6")
                }
                else if (choose_kid_val == "calvin") {
                    getData("Calvin", "Algebra_1_2")
                }
                document.getElementById('choose_dash').focus();
            }
            var button_kid = document.getElementById('kid_button');
            button_kid.addEventListener('click', updateKid, true);

            function updateDash() {
                choose_dash = document.getElementById("choose_dash");
                choose_dash_val = choose_dash.options[choose_dash.selectedIndex].value;
                choose_dash.value = choose_dash_val;

                if (choose_kid_val) {
                    if (choose_dash_val == "time") {
                        renderTimePlot(timeData)
                    }
                    else if (choose_dash_val == "origin") {
                        renderMixedPlot(scoreData, probData)
                    }
                    else if (choose_dash_val == "tests") {
                        renderTestPlot(testData)
                    }
                }
                else {
                    alert('Choose a kid!')
                }
                document.getElementById('choose_dash').focus();
            }
            var button_dash = document.getElementById('dash_button');
            button_dash.addEventListener('click', updateDash, true);
        }



        var body = d3.select("body");
        var svg = body.append("svg");

        function renderTimePlot(df) {
            bookData = [
                {"position": 0, "book": "Math_5_4", "color": "RebeccaPurple", "name": "Math 5/4"},
                {"position": 1, "book": "Math_6_5", "color": "Crimson", "name": "Math 6/5"},
                {"position": 2, "book": "Math_7_6", "color": "DarkOrange", "name": "Math 7/6"},
                {"position": 3, "book": "Math_8_7", "color": "Gold", "name": "Math 8/7"},
                {"position": 4, "book": "Algebra_1_2", "color": "ForestGreen", "name": "Algebra 1/2"},
                {"position": 5, "book": "Algebra_1", "color": "SteelBlue", "name": "Algebra 1"},
                {"position": 6, "book": "Algebra_2", "color": "SlateGrey", "name": "Algebra 2"},
                {"position": 7, "book": "Advanced_math", "color": "DarkSlateGrey", "name": "Advanced Math"},
                {"position": 8, "book": "Calculus", "color": "Sienna", "name": "Calculus"},
                {"position": 9, "book": "", "color": "White", "name": ""},
                {"position": 10, "book": "", "color": "Maroon", "name": "Average Score"}
            ];

            mean = d3.mean(df, function(d) { return +d.correct })
            sd = d3.deviation(df, function(d) { return +d.correct })
            min = d3.min(df, function(d) { return +d.correct })
            max = d3.max(df, function(d) { return +d.correct })
            statsData = [
                {"position": 0, "name": "Count", "value": df.length},
                {"position": 1, "name": "Mean", "value": mean.toFixed(2)},
                {"position": 2, "name": "St. Dev.", "value": sd.toFixed(2)},
                {"position": 3, "name": "Max", "value": max.toFixed(2)},
                {"position": 4, "name": "Min", "value": min.toFixed(2)}
            ];


            var leftMargin = 50,
                rightMargin = 35,
                rightPanel = 170,
                axisGap = 15,
                width = window.innerWidth - leftMargin - axisGap - rightPanel - rightMargin,
                topMargin = 15,
                bottomMargin = 120,
                height = 500 - topMargin - bottomMargin,
                translateText = "translate(" + (leftMargin + axisGap) + "," + topMargin + ")";

            svg.selectAll("*").remove();
            svg.attr("width", "100%").attr("height", "500px");

            var g_translate_legend = svg.append("g")
                .attr("transform", "translate(" + (leftMargin + width + 2 * axisGap) + "," + (topMargin) + ")")
            var g_translate_stats = svg.append("g")
                .attr("transform", "translate(" + (leftMargin + width + 2 * axisGap) + "," + (topMargin + 231) + ")")
            var g_translate_plot = svg.append("g")
                .attr("transform", translateText)
            var div = d3.select("body").append("div")
                .attr("class", "tooltip")
                .style("opacity", 0);



            //    X-AXIS
            x = d3.scale.ordinal()
                .rangePoints([0, width])
                .domain(timeData.map(function(d) { return d.date }));
            xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom");
            svg.append("g")
                .attr("transform", "translate(" + (leftMargin + axisGap) + "," + (topMargin + height + axisGap) + ")")
                .attr("class", "x axis")
                .call(xAxis)
                .selectAll("text")
                .attr("y", 0)
                .attr("x", 50)
                .attr("dy", ".35em")
                .attr("transform", "rotate(90)")
                .style("text-anchor", "middle")
                .style("font-size", "10px");

            //    Y-AXIS
            y = d3.scale.linear()
                .range([height, 0])
                .domain([0, 1]);
            yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");
            svg.append("g")
                .attr("transform", "translate(" + leftMargin + "," + topMargin + ")")
                .attr("class", "y axis")
                .call(yAxis);

            //    LEGEND
            // book names
            g_translate_legend
                .attr("class", "legend")
                .selectAll("text")
                .data(bookData)
                .enter().append("text")
                .attr("x", 5)
                .attr("y", function (d) {
                    return d.position * 20 + 20
                })
                .text(function (d) {
                    return d.name
                });
            // book lines
            g_translate_legend
                .attr("class", "legend")
                .selectAll("line")
                .data(bookData)
                .enter().append("line")
                .attr("x1", 120)
                .attr("y1", function (d) {
                    return d.position * 20 + 13
                })
                .attr("x2", 160)
                .attr("y2", function (d) {
                    return d.position * 20 + 13
                })
                .attr("stroke", function (d) {
                    return d.color
                })
                .style("opacity", function (d) {
                    if (d.position == 10) {
                        return .3
                    }
                    else {
                        return 1
                    }
                });

            // legend border
            g_translate_legend
                .attr("class", "legend")
                .append("rect")
                .attr("x", 0)
                .attr("y", 0)
                .attr("width", rightPanel)
                .attr("height", 230);
            // stats border
            g_translate_stats
                .attr("class", "legend")
                .append("rect")
                .attr("x", 0)
                .attr("y", 0)
                .attr("width", rightPanel)
                .attr("height", 105);
            // stats
            g_translate_stats
                .attr("class", "legend")
                .selectAll("text")
                .data(statsData)
                .enter().append("text")
                .attr("x", 5)
                .attr("y", function (d) {
                    return d.position * 20 + 20
                })
                .text(function (d) {
                    return d.name + ': ' + d.value
                });


            //  PATH
            for (i = 0; i < bookData.length; i++) {
                lineData = df.filter(function (d) {
                    return d.book == bookData[i]["book"]
                });

                var lineFunction = d3.svg.line()
                    .x(function (d) {
                        return x(d.date);
                    })
                    .y(function (d) {
                        return y(d.correct);
                    })
                    .interpolate('linear');

                g_translate_plot
                    .append("path")
                    .attr("d", lineFunction(lineData))
                    .attr("stroke", bookData[i]["color"])
                    .attr("stroke-width", 5)
                    .attr("fill", "none");
            }

            // Points
            g_translate_plot
                .selectAll("circle")
                .data(df)
                .enter().append("circle")
                .attr("cx", function (d) {
                    return x(d.date)
                })
                .attr("cy", function (d) {
                    return y(d.correct)
                })
                .attr("r", "3")
                .on("mouseover", function (d) {
                    div.transition()
                        .duration(200)
                        .style("opacity", .9);
                    div.html(d.date + ": " + d.correct.toFixed(2))
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY - 28) + "px")
                        .attr("width", this.getComputedTextLength())
                        .attr("height", "56px");
                })
                .on("mouseout", function (d) {
                    div.transition()
                        .duration(500)
                        .style("opacity", 0);
                });

            // MEAN SCORE LINE
            g_translate_plot
                .style("stroke-width", 5)
                .append("line")
                .attr("x1", 0)
                .attr("y1", height * (1 - mean))
                .attr("x2", width)
                .attr("y2", height * (1 - mean))
                .attr("stroke", "Maroon")
                .style("opacity", .3)
                .on("mouseover", function (d) {
                    div.transition()
                        .duration(200)
                        .style("opacity", .9);
                    div.html("Average score: " + (mean).toFixed(2))
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY - 28) + "px");
                })
                .on("mouseout", function (d) {
                    div.transition()
                        .duration(500)
                        .style("opacity", 0);
                });

            // GOAL LINE
            g_translate_plot
                .style("stroke-width", 5)
                .append("line")
                .attr("x1", 0)
                .attr("y1", height * .1)
                .attr("x2", width)
                .attr("y2", height * .1)
                .attr("stroke", "DarkSalmon")
                .style("opacity", .3);
        }









        function renderMixedPlot(df_s, df_p) {
            percentData = [
                {"position": 0, "value": .2},
                {"position": 1, "value": .4},
                {"position": 2, "value": .6},
                {"position": 3, "value": .8},
                {"position": 4, "value": 1}
            ];

            var first_chapter = df_p.map(function (el) {
                return el.chapter
            }).reduce(function (el) {
                return Math.min(el)
            });
            var max_chapter = Math.max(...df_p.map(function (el) {
                return el.chapter
            })
            )

            var supClick = false;

            var total_margin = {top: 10, right: 10, bottom: 10, left: 20},
                plot_margin = {top: 50, right: 100, bottom: 50, left: 70},
                total_width = 600,
                plot_width = total_width - total_margin.right - total_margin.left,
                total_height = (df_s.length * 20) + total_margin.top + plot_margin.top + total_margin.bottom + plot_margin.bottom,
                plot_height = total_height - total_margin.top - total_margin.bottom;

            var total_margin_sup = {top: 10, right: 10, bottom: 10, left: 10},
                plot_margin_sup = {top: 25, right: 30, bottom: 25, left: 30},
                total_width_sup = 600,
                plot_width_sup = total_width_sup - total_margin_sup.right - total_margin_sup.left,
                total_height_sup = (130) + total_margin_sup.top + plot_margin_sup.top + total_margin_sup.bottom + plot_margin_sup.bottom,
                plot_height_sup = total_height_sup - total_margin_sup.top - total_margin_sup.bottom,
                gap = 5,
                left_shift_sup = 600;

            svg.selectAll("*").remove();
            svg
                .attr("width", total_width + total_width_sup)
                .attr("height", total_height)

            // MAIN
            var svg_main = svg
                .append("g")
                .attr("width", plot_width)
                .attr("height", plot_height)
                .attr("transform", "translate(" + total_margin.left + "," + total_margin.top + ")");

            // MAIN X-AXIS
            x = d3.scale.linear()
                .range([0, plot_width - plot_margin.left - plot_margin.right])
                .domain([0, d3.max(df_s, function (element) {return element.mean})]);
            xAxis = d3.svg.axis()
                .scale(x)
                .orient("top")
                .ticks(5, "%");
            svg_main.append("g")
                .call(xAxis)
                .attr("class", "x axis")
                .attr("transform", "translate(" + (plot_margin.left + x(.01)) + "," + plot_margin.top + ")")
                .style("font-size", "13px");
            svg_main.append("g")
                .attr("class", "label")
                .attr("transform", "translate(" + (plot_margin.left + plot_width / 3) + ", 0)")
                .append("text")
                .attr("x", 0)
                .attr("y", 15)
                .text("Percent Correct");

            // MAIN Y-AXIS
            y = d3.scale.ordinal()
                .rangeBands([0, plot_height - plot_margin.top - plot_margin.bottom], 0.2, 0)
                .domain(df_s.map(function (element) {return element.origin}));
            yAxis = d3.svg.axis()
                .scale(y)
                .orient("left");
            svg_main.append("g")
                .call(yAxis)
                .attr("class", "y axis")
                .attr("transform", "translate(" + plot_margin.left + "," + plot_margin.top + ")");
            svg_main.append("g")
                .attr("class", "label")
                .attr("transform", "rotate(270)")
                .append("text")
                .attr("x", -plot_height / 2)
                .attr("y", 15)
                .text("Lesson Number");

            // SUP
            var svg_sup = svg
                .append("g")
                .attr("width", plot_width_sup)
                .attr("height", plot_height_sup);

            // SUP X-AXIS
            x_sup = d3.scale.linear()
                .range([0, plot_width_sup - plot_margin_sup.left - plot_margin_sup.right])
                .domain([first_chapter, max_chapter]);
            xAxis_sup = d3.svg.axis()
                .scale(x_sup)
                .orient("bottom")
                .tickFormat(d3.format("d"))
                .ticks(5);

            // SUP Y-AXIS
            y_sup = d3.scale.ordinal()
                .rangeBands([0, plot_height_sup - plot_margin_sup.top - plot_margin_sup.bottom], 0.2, 0)
                .domain([11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]);
            yAxis_sup = d3.svg.axis()
                .scale(y_sup)
                .orient("left");

            // I don't understand what this does
            function keys(d) {
                return d.origin;
            }

            function supCreate(d) {
                // LINE CONNECTING MAIN AND SUP
                svg.append("line")
                    .attr("class", "line")
                    .attr("x1", x(d.mean + .01) + total_margin.left + plot_margin.left)
                    .attr("y1", y(d.origin) + total_margin.top + plot_margin.top + (y.rangeBand() / 2))
                    .attr("x2", (left_shift_sup + total_margin.left))
                    .attr("y2", y(d.origin) + total_margin.top + plot_margin.top + (y.rangeBand() / 2))
                    .style("stroke", "darkslateblue")
                    .style("stroke-width", 1);

                // position svg_sup
                svg_sup.attr("transform", "translate(" + (left_shift_sup + total_margin.left) + "," + (total_margin.top + y(d.origin)) + ")");

                // text
                svg_sup.append("text")
                    .attr("y", 0)
                    .attr("x", 0)
                    .attr("class", "hover")
                    .attr("font-family", "sans-serif")
                    .attr("font-size", "12px")
                    .style("fill", "SlateGrey")
                    .style("opacity", ".5")
                    .text("Chapter " + d.origin + " (mean: " + d.mean.toFixed(2) + ", n: " + d.count + ")");

                probStuff = df_p.filter(function (d_sup) {
                    return d_sup.origin == d.origin
                })

                // border
                svg_sup.append("rect")
                    .attr("x", 0)
                    .attr("y", gap)
                    .attr("width", plot_width_sup)
                    .attr("height", plot_height_sup)
                    .style("stroke", "darkslateblue")
                    .style("fill", "white")
                    .style("stroke-width", 1);

                // axis call
                svg_sup.append("g")
                    .call(xAxis_sup)
                    .attr("class", "axis")
                    .attr("transform", "translate(" + (plot_margin_sup.left) + "," + (plot_height_sup - plot_margin_sup.bottom) + ")")
                    .style("font-size", "10px");

                // correct/incorrect squares
                var width = (plot_width_sup - plot_margin_sup.left - plot_margin_sup.right - (max_chapter - first_chapter) * gap) / (max_chapter - first_chapter)
                svg_sup.append("g")
                    .attr("class", "bar")
                    .attr("transform", "translate(" + (plot_margin_sup.left - (width / 2)) + "," + (plot_margin_sup.top - gap) + ")")
                    .selectAll("rect")
                    .data(probStuff)
                    .enter().append("rect")
                    .attr("x", function (d_sup) {
                        return x_sup(d_sup.chapter)
                    })
                    .attr("y", function (d_sup) {
                        return y_sup(d_sup.position)
                    })
                    .attr("width", width)
                    .attr("height", 10)
                    .attr("fill", function (d_sup) {
                        if (d_sup.correct == 0) {
                            return "cornflowerblue"
                        }
                        else {
                            return "darkblueslate"
                        }
                    })
            }


            // PLOT
            // vertical lines
            svg_main.append("g")
                .attr("transform", "translate(" + plot_margin.left + "," + plot_margin.top + ")")
                .selectAll("line")
                .data(percentData)
                .enter().append("line")
                .attr("x1", function (d) {
                    return x(d.value + .01)
                })
                .attr("x2", function (d) {
                    return x(d.value + .01)
                })
                .attr("y1", 0)
                .attr("y2", plot_height - plot_margin.top - plot_margin.bottom)
                .attr("stroke", "SlateGrey")
                .attr("opacity", ".3");

            // horizontal bars
            svg_main.append("g")
                .attr("class", "bar")
                .attr("transform", "translate(" + plot_margin.left + "," + plot_margin.top + ")")
                .selectAll("rect")
                .data(df_s, keys)
                .enter().append("rect")
                .attr("x", 0)
                .attr("y", function (d) {
                    return y(d.origin)
                })
                .attr("width", function (d) {
                    return x(d.mean + .01)
                })
                .attr("height", y.rangeBand())
                .attr("fill", function (d) {
                    const z = (1 - d.mean) / Math.sqrt(d.mean * (1 - d.mean) * (1 / d.count))
                    if (z > 2.326) {
                        return "CornflowerBlue"
                    }
                    else if (z > 1.645) {
                        return "Blue"
                    }
                    else {
                        return "DarkSlateBlue"
                    }
                })
                .on("mouseover", function (d) {
                    console.log(supClick)
                    if (supClick === false) {
                        supCreate(d)
                    }
                })
                .on("mouseout", function (d) {
                    if (supClick === false) {
                        svg.select("line.line").remove();
                        svg_sup.selectAll("*").remove();
                    }
                })
                .on("click", function (d) {
                    svg.select("line.line").remove();
                    svg_sup.selectAll("*").remove();
                    if (supClick === false) {
                        supClick = true;
                        supCreate(d)
                    }
                    else {
                        supClick = false
                    }
                })
        }







        function renderTestPlot(df_t) {
            svg.selectAll("*").remove();
            svg.attr("width", 1500).attr("height", 1500)

            if (df_t.length == 0) {
                svg.append("g")
                    .append("text")
                    .attr("x", 20)
                    .attr("y", 20)
                    .style("font-size", 20)
                    .text("Nothing to see here!");
            }
            else {
                var total_margin = {top: 10, right: 10, bottom: 10, left: 10},
                    plot_margin = {top: 50, right: 100, bottom: 50, left: 80},
                    total_width = 600,
                    plot_width = total_width - total_margin.right - total_margin.left,
                    total_height = (df_t.length * 20) + total_margin.top + plot_margin.top + total_margin.bottom + plot_margin.bottom,
                    plot_height = total_height - total_margin.top - total_margin.bottom;

                var svg_main = svg
                    .append("g")
                    .attr("width", plot_width)
                    .attr("height", plot_height)
                    .attr("transform", "translate(" + total_margin.left + "," + total_margin.top + ")");


                //    X-AXIS
                x = d3.scale.linear()
                    .range([0, plot_width - plot_margin.left - plot_margin.right])
                    .domain([0, 1]);
                xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("top")
                    .ticks(5, "%");
                svg_main.append("g")
                    .call(xAxis)
                    .attr("class", "x axis")
                    .attr("transform", "translate(" + (plot_margin.left) + "," + plot_margin.top + ")")
                // axis label
                svg_main.append("g")
                    .attr("class", "label")
                    .attr("transform", "translate(" + (plot_margin.left + plot_width / 4) + ", 0)")
                    .append("text")
                    .attr("x", 0)
                    .attr("y", 15)
                    .text("Percent Correct");

                //    Y-AXIS
                y = d3.scale.ordinal()
                    .rangeBands([0, plot_height - plot_margin.top - plot_margin.bottom], 0.2, 0)
                    .domain(df_t.map(function (d) {
                        return d.test
                    }));
                yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left");
                svg_main.append("g")
                    .call(yAxis)
                    .attr("class", "y axis")
                    .attr("transform", "translate(" + plot_margin.left + "," + plot_margin.top + ")");
                // axis label
                svg_main.append("g")
                    .attr("class", "label")
                    .attr("transform", "rotate(270)")
                    .append("text")
                    .attr("x", -plot_height)
                    .attr("y", 15)
                    .text("Test Number");


                percentData = [
                    {"position": 0, "value": .2},
                    {"position": 1, "value": .4},
                    {"position": 2, "value": .6},
                    {"position": 3, "value": .8},
                    {"position": 4, "value": 1}
                ];
                svg_main.append("g")
                    .attr("transform", "translate(" + plot_margin.left + "," + plot_margin.top + ")")
                    .selectAll("line")
                    .data(percentData)
                    .enter().append("line")
                    .attr("x1", function (d) {
                        return x(d.value)
                    })
                    .attr("x2", function (d) {
                        return x(d.value)
                    })
                    .attr("y1", 0)
                    .attr("y2", plot_height - plot_margin.top - plot_margin.bottom)
                    .attr("stroke", "SlateGrey")
                    .attr("opacity", ".3")

                //    BARS
                // tooltip container
                var div = d3.select("body").append("div")
                    .attr("class", "tooltip")
                    .style("opacity", 0);

                svg_main.append("g")
                    .attr("class", "bar")
                    .attr("transform", "translate(" + plot_margin.left + "," + plot_margin.top + ")")
                    .selectAll("rect")
                    .data(df_t)
                    .enter().append("rect")
                    .attr("x", 0)
                    .attr("y", function (d) {
                        return y(d.test)
                    })
                    .attr("width", function (d) {
                        return x(d.perc_correct)
                    })
                    .attr("height", y.rangeBand())
                    .on("mouseover", function (d) {
                        div.transition()
                            .duration(200)
                            .style("opacity", .9);
                        div.html(
                            "Test: " + d.test + "<br/>" +
                            "Score: " + d.perc_correct + "<br/>" +
                            "Chapters: " + d.chapters + "<br/>" +
                            "Missed: " + d.miss_lst.toString()
                        )
                            .style("left", (d3.event.pageX) + "px")
                            .style("top", (d3.event.pageY - 28) + "px")
                            .attr("width", this.getComputedTextLength())
                            .attr("height", "56px")
                    })
                    .on("mouseout", function (d) {
                        div.transition()
                            .duration(500)
                            .style("opacity", 0);
                    });
            }
        }



    </script>

</body>
</html>
