<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        body {
            font-family: Helvetica;
        }

        svg {
            width: 500px;
            height: 500px;
        }
        /*h2 {*/
            /*text-align: center;*/
        /*}*/
        .line {
            fill: DarkSlateBlue;
        }
        .bottom-label {
            font-size: 13px;
            font-style: italic;
            text-transform: uppercase;
            float: left;
        }
        .perc-label {
            text-align: right;
            font-weight: bold;
            width: 90px;
            padding-right: 10px;
        }
        .point-label {
            text-anchor: end;
        }
        .axis-label {
            text-anchor: middle;
            font-size: 13px;
        }

        .axis text {
            font: 10px sans-serif;
        }

        .axis line,
        .axis path {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
    </style>
</head>
<body>
    <form onsubmit="return false;">
        <label for="choose_kid">Name</label>
        <select id="choose_kid" class="form-control">
            <option>Choose...</option>
            <option selected>Calvin</option>
            <option>Samuel</option>
            <option>Kay</option>
        </select>
        <label for="choose_book">Book</label>
        <select id="choose_book" class="form-control">
            <option >Choose...</option>
            <option value="Math_5_4">Math 5/4</option>
            <option value="Math_6_5">Math 6/5</option>
            <option value="Math_7_6">Math 7/6</option>
            <option value="Math_8_7">Math 8/7</option>
            <option value="Algebra_1_2" selected>Algebra 1/2</option>
            <option value="Algebra_1">Algebra 1</option>
            <option value="Algebra_2">Algebra 2</option>
            <option value="Advanced_math">Advanced Math</option>
            <option value="Calculus">Calculus</option>
        </select>


        <input type="text" id="periods">
        <button id="button" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>

    <script>
        document.getElementById('periods').focus();

        var kid;
        var book;
        var periods;

        var plotInfo = [
            {value1: 0, position1: 0},
            {value1: .10, position1: 1},
            {value1: .20, position1: 2},
            {value1: .30, position1: 3},
            {value1: .40, position1: 4},
            {value1: .50, position1: 5},
            {value1: .60, position1: 6},
            {value1: .70, position1: 7},
            {value1: .80, position1: 8},
            {value1: .90, position1: 9},
            {value1: 1, position1: 10}
        ];
        var scoreData;

        var leftMargin = 35,
            rightMargin = 35,
            width = 500 - leftMargin - rightMargin,
            topMargin = 10,
            bottomMargin = 60,
            height = 500 - topMargin - bottomMargin,
            axisGap = 15,
            translateText = "translate(" + (leftMargin + axisGap) + "," + topMargin + ")",
            scaleFactor,
            scaleText;

        var body = d3.select("body");
        var h2 = body.append("h2");
        var svg = body.append("svg");

        var lineGroup;
        var xAxisGroup = svg.append("g")
            .attr("transform", "translate(" + leftMargin + "," + (height + topMargin) + ")")
            .attr("class", "axis");
        var yAxisGroup = svg.append("g")
            .attr("transform", "translate(" + leftMargin + "," + topMargin + ")")
            .attr("class", "axis");

        var x = d3.scale.ordinal();
        var xAxis = d3.svg.axis();
        var y = d3.scale.linear();
        var yAxis = d3.svg.axis();

        function renderPlot(scoreData) {
            const data_periods = scoreData.length + 1

            scaleFactor = width / (data_periods - 1);
            scaleText = "scale(" + scaleFactor + ",1)";
            h2.text(kid + "'s scores for the last " + data_periods + " school days")
            lineGroup = svg.append("g")
                .attr("transform", translateText)
                .attr("class", "line");


            lineGroup.selectAll("*").remove();

            lineGroup.selectAll("circle")
                .data(scoreData)
                .enter().append("circle")
                .attr("cx", function (d) {return d.position1 * scaleFactor})
                .attr("cy", function (d) {return height * (1 - d.value1)})
                .attr("r", "2")
            lineGroup.append("circle")
                .attr("cx", scoreData[scoreData.length - 1].position2 * scaleFactor)
                .attr("cy", height * (1 - scoreData[scoreData.length - 1].value2))
                .attr("r", "2")

            lineGroup.selectAll("line")
                .data(scoreData)
                .enter().append("line")
                .attr("x1", function (d) {
                    return d.position1 * scaleFactor
                })
                .attr("y1", function (d) {
                    return height * (1 - d.value1)
                })
                .attr("x2", function (d) {
                    return d.position2 * scaleFactor
                })
                .attr("y2", function (d) {
                    return height * (1 - d.value2)
                })
                .attr("stroke", "DarkSlateBlue")

            y.domain([0, 1])
                .range([height - axisGap, 0]);
            yAxis
                .orient("left")
                .scale(y);
            yAxisGroup
                .call(yAxis);

            var date_array = scoreData.map(function(d) {return d.date1})
            date_array.push(scoreData[scoreData.length - 1].date2)
            x.domain(date_array)
                .rangePoints([axisGap, width]);
            xAxis
                .scale(x)
                .orient("bottom");

            xAxisGroup
                .call(xAxis)
                .selectAll("text")
                    .attr("y", 15)
                    .attr("x", 0)
                    .attr("dy", ".35em")
                    .attr("transform", "rotate(0)")
                    .style("text-anchor", "middle");

        }

//todo: how is this going to fit into the dashboard as a whole?
//todo:


//todo: can I just send the entire dataset in with an empty position2 in the last row in?...I couldn't make this work.

// + " rotate(90)"

        document.addEventListener('DOMContentLoaded', init, false);
        function init() {
            function submit() {
                var kid_e = document.getElementById("choose_kid")
                kid = kid_e.options[kid_e.selectedIndex].text;
                var book_e = document.getElementById("choose_book")
                book = book_e.options[book_e.selectedIndex].value;
                periods = document.getElementById('periods').value

                var request = new XMLHttpRequest();
                request.responseType = 'json';
                request.open("POST", "/query_periods_data", true);
                request.onload = function() {
                    var chapter_details = JSON.parse(JSON.stringify(request.response));
                    scoreData = chapter_details;
                    renderPlot(scoreData)
                };
                request.send(JSON.stringify(
                    {
                        "kid": kid,
                        "book": book,
                        "periods": periods
                    }
                    )
                );
            }
            var button_submit = document.getElementById('button');
            button_submit.addEventListener('click', submit, true);
        }




//        todo: keep moving things around

    </script>

</body>
</html>


