<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <style>
        .hidden {
            display: none;
        }
        .unhidden {
            display: inline-block;
        }
    </style>
<body>

<select id="choose_kid">
    <option value="" selected>choose kid</option>
    <option value="calvin">Calvin</option>
    <option value="samuel">Samuel</option>
    <option value="kay">Kay</option>
</select><br><br>
<select id="choose_book">
    <option value="" selected>choose book</option>
    <option value="Math_5_4">Math 5/4</option>
    <option value="Math_6_5">Math 6/5</option>
    <option value="Math_7_6">Math 7/6</option>
    <option value="Math_8_7">Math 8/7</option>
    <option value="Algebra_1_2">Algebra 1/2</option>
    <option value="Algebra_1">Algebra 1</option>
    <option value="Algebra_2">Algebra 2</option>
    <option value="Advanced_math">Advanced Math</option>
    <option value="Calculus">Calculus</option>
</select><br><br>

<input id="chapter" type="text" placeholder="Chapter" name="chapter"><br><br>

<button id="button" class="unhidden"/>Submit</button>


<script>
    var kid;
    var book;
    var chapter;
    var alphabet = 'abcdefghijklmnopqrstuvwxyz';
    var miss_list = [];

    document.getElementById('choose_kid').focus();

    function createProblems(str)
	{
	    var num;
	    var h_tag;
	    var t_tag;
	    var nextChar;
	    if (typeof str === "string"){
            h_tag = document.createElement("H1");
            t_tag = document.createTextNode("Lesson Practice");
            h_tag.appendChild(t_tag);
            document.body.appendChild(h_tag);
    	    num = str.length - 1
        }
        else {
            h_tag = document.createElement("H1");
            t_tag = document.createTextNode("Mixed Practice");
            h_tag.appendChild(t_tag);
            document.body.appendChild(h_tag);
	        num = parseInt(str) - 1
        }
	   for(var i=0; i<=num; i++)
	   {
	       if (typeof str === "string"){
	           nextChar = str.charAt(i);
           }
           else {
	           nextChar = i + 1;
           }
           var btn = document.createElement("BUTTON");
           btn.id = 'btn' + toString(nextChar);
           btn.setAttribute('style',"font-size:24px; background: green");
           btn.innerHTML = nextChar;
           btn.value = toString(nextChar);
           document.body.appendChild(btn);
           btn.addEventListener('click', function(event){
               if (event.target.style.background === "red"){
                   event.target.style.background = "green";
                   var index = miss_list.indexOf(event.target.innerHTML);
                   if (index > -1) {
                       miss_list.splice(index, 1);
                   }
               }
               else {
                   event.target.style.background = "red";
                   miss_list.push(event.target.innerHTML)
               }
           });
    	}
    };

    function createButton() {
        var div = document.createElement("div");
        document.body.appendChild(div);

        var btn = document.createElement("BUTTON");
        btn.id = 'button_record';
        btn.innerHTML = 'Record';
        div.appendChild(btn);
//        document.body.appendChild(btn);
        btn.addEventListener('click', function (event) {
            var request = new XMLHttpRequest();
            request.responseType = 'json';
            request.open("POST", "/add_missed_problems", true);
            request.send(JSON.stringify(
                {
                    "kid": kid,
                    "book": book,
                    "chapter": chapter,
                    "miss_list": miss_list
                }
                )
            );
            window.location.href = '/';
        });
    }
    ;

    document.addEventListener('DOMContentLoaded', init, false);
    function init() {
        function submit() {
            var kid_e = document.getElementById("choose_kid")
            kid = kid_e.options[kid_e.selectedIndex].text;
            var book_e = document.getElementById("choose_book")
            book = book_e.options[book_e.selectedIndex].value;
            chapter = parseInt(document.getElementById('chapter').value)

            if ((kid == 'choose kid') || (book == 'choose book') || (isNaN(chapter))){
                alert('Fill in all fields, dummy.')
            }
            else {
                var request = new XMLHttpRequest();
                request.responseType = 'json';
                request.open("POST", "/query_chapter", true);
                request.onload = function() {
                    var chapter_details = JSON.parse(JSON.stringify(request.response))
                    createProblems(alphabet.substr(0, alphabet.indexOf(chapter_details['num_lesson_probs']) + 1))
                    createProblems(parseInt(chapter_details['num_mixed_probs']))
                    createButton()

                };
                request.send(JSON.stringify(
                    {
                        "book": book,
                        "chapter": chapter
                    }
                    )
                );
            }
            document.getElementById('button').className = "hidden"
        }
        var button_submit = document.getElementById('button');
        button_submit.addEventListener('click', submit, true);
    }


</script>


</body>
</html>


<!--todo; remove the most recent entry-->

<!--todo: css the div housing the record button-->

<!--todo: I'm going to want to make it so all I have to do is enter a new child into the database and it populates this list, or somethign.-->