<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel=stylesheet>

</head>
<style>
    .hidden {
        display: none;
    }

    .unhidden {
        display: inline-block;
    }
</style>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Number of Problems</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/main_menu">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quit">Quit</a>
            </li>
        </ul>
    </div>
</nav>


<div class="col-xs-12 col-sm-12">
    <form onsubmit="return false;">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="choose_book">Book</label>
                <select id="choose_book" class="form-control">
                    <option selected>Choose...</option>
                    <option value="Math_5_4">Math 5/4</option>
                    <option value="Math_6_5">Math 6/5</option>
                    <option value="Math_7_6">Math 7/6</option>
                    <option value="Math_8_7">Math 8/7</option>
                    <option value="Algebra_1_2">Algebra 1/2</option>
                    <option value="Algebra_1">Algebra 1</option>
                    <option value="Algebra_2">Algebra 2</option>
                    <option value="Advanced_math">Advanced Math</option>
                    <option value="Calculus">Calculus</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="chapter">Chapter</label>
                <input type="text" class="form-control" id="chapter" placeholder="123">
            </div>
            <div class="form-group col-md-2">
                <label for="num_lesson_probs">Number of Lesson Problems</label>
                <input type="text" class="form-control" id="num_lesson_probs" placeholder="abc">
            </div>
            <div class="form-group col-md-2">
                <label for="num_mixed_probs">Number of Mixed Problems</label>
                <input type="text" class="form-control" id="num_mixed_probs" placeholder="123">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-auto">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="testCheck">
                    <label class="form-check-label" for="testCheck">Test</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-auto">
                <button id="button" type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="form-group col-md-auto">
                <button id="button_delete" type="submit" class="btn btn-primary hidden">Undo Submit</button>
            </div>
        </div>
        <!--<div class="form-row">-->
        <!--<div class="form-group col-md-2">-->
        <!--<button id="button_delete" type="submit" class="btn btn-primary hidden">Undo Submit</button>-->
        <!--</div>-->
        <!--</div>-->
    </form>
</div>


<!--<input id="chapter" type="text" placeholder="Chapter" name="chapter"><br><br>-->
<!--<input id="num_lesson_probs" type="text" placeholder="Number of Lesson Problems" name="lesson"><br><br>-->
<!--<input id="num_mixed_probs" type="text" placeholder="Number of Mixed Problems" name="mixed"><br><br>-->
<!--<button id="button" type="submit" class="btn btn-primary">Submit</button>-->
<!--<button id="button_delete" class="hidden"/>Undo Submit</button><br><br>-->
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>


<script>
    var book;
    var test;
    var chapter;
    var num_lesson_probs;
    var num_mixed_probs;

    document.getElementById('choose_book').focus();

    document.addEventListener('DOMContentLoaded', init, false);
    function init() {
        function submit() {
            var book_e = document.getElementById("choose_book")
            book = book_e.options[book_e.selectedIndex].value;
            chapter = parseInt(document.getElementById('chapter').value)
            num_lesson_probs = document.getElementById('num_lesson_probs').value
            num_mixed_probs = document.getElementById('num_mixed_probs').value
            test = document.getElementById('testCheck').checked;

            if ((book == 'choose book') || (isNaN(chapter)) || (num_lesson_probs == '') || (num_mixed_probs == '')) {
                alert('Fill in all fields, dummy.')
            }
            else {
                var new_chapter
                if (test == true) {
                    new_chapter = 'test ' + chapter;
                }
                else {
                    new_chapter = chapter;
                }

                var request = new XMLHttpRequest();
                request.open("POST", "/add_problem_number", true);
                request.send(JSON.stringify(
                    {
                        "book": book,
                        "chapter": new_chapter,
                        "num_lesson_probs": num_lesson_probs,
                        "num_mixed_probs": num_mixed_probs,
                    }
                    )
                );

                document.getElementById('chapter').value = chapter + 1
                document.getElementById('num_lesson_probs').value = ''
                document.getElementById('num_lesson_probs').focus();
                document.getElementById('button_delete').className = "btn btn-primary unhidden"
            }
        }

        var button_submit = document.getElementById('button');
        button_submit.addEventListener('click', submit, true);


        function delete_previous() {
            if (chapter == null) {
                alert('There is no previous entry to remove.')
            }
            else {
                var request = new XMLHttpRequest();
                request.open("POST", "/remove_problem_number", true);
                request.send(JSON.stringify(
                    {
                        "book": book,
                        "chapter": chapter,
                        "num_lesson_probs": num_lesson_probs,
                        "num_mixed_probs": num_mixed_probs
                    }
                    )
                );
                alert('The previous entry (book: ' + book + ', chapter: ' + chapter + ', num_lesson_probs: ' + num_lesson_probs + ', num_mixed_probs: ' + num_mixed_probs + ') was succesfully deleted.')
                chapter = chapter
                document.getElementById('chapter').value = chapter
                document.getElementById('num_lesson_probs').focus();
                document.getElementById('button_delete').className = "btn btn-primary hidden"
            }
        }

        var button_delete = document.getElementById('button_delete');
        button_delete.addEventListener('click', delete_previous, true);


    }


</script>


</body>
</html>


<!--todo: page to delete an entry by chapter-->
<!--todo: page to modify an entry by chapter-->