<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <style>
        .hidden {
            display: none;
        }
        .unhidden {
            display: inline-block;
        }
    </style>
<body>

<div id="myDiv">Choose book: </div><br><br>
<input id="chapter" type="text" placeholder="Chapter" name="chapter"><br><br>
<input id="num_lesson_probs" type="text" placeholder="Number of Lesson Problems" name="lesson"><br><br>
<input id="num_mixed_probs" type="text" placeholder="Number of Mixed Problems" name="mixed"><br><br>
<button id="button"/>Submit</button><br><br>
<button id="button_delete" class="hidden"/>Undo Submit</button><br><br>
<input type="button_number" onclick="location.href='/';" value="main menu" />

<script>
    var book
    var chapter
    var num_lesson_probs
    var num_mixed_probs


    var myDiv = document.getElementById("myDiv");
    var books = ['choose book', 'Math 5/4', 'Math 6/5', 'Math 7/6', 'Math 8/7', 'Algebra 1/2', 'Algebra 1', 'Algebra 2', 'Advanced Math', 'Calculus']

    //Create and append select list
    var selectList = document.createElement("select");
    selectList.setAttribute("id", "mySelect");
    myDiv.appendChild(selectList);

    //Create and append the options
    for (var i = 0; i < books.length; i++) {
        var option = document.createElement("option");
        option.setAttribute("value", books[i]);
        option.text = books[i];

        if (books[i] === 'choose book') {
            option.selected = true
        }

        selectList.appendChild(option);
    }

    document.getElementById('mySelect').focus();

    document.addEventListener('DOMContentLoaded', init, false);
    function init() {
        function submit() {
            var e = document.getElementById("mySelect")
            book = e.options[e.selectedIndex].text;
            chapter = parseInt(document.getElementById('chapter').value)
            num_lesson_probs = document.getElementById('num_lesson_probs').value
            num_mixed_probs = document.getElementById('num_mixed_probs').value

            if ((book == 'choose book') || (isNaN(chapter)) || (num_lesson_probs == '') || (num_mixed_probs == '')){
                alert('Fill in all fields, dummy.')
            }
            else {
                var request = new XMLHttpRequest();
                request.open("POST", "/add_problem_number", true);
                request.send(JSON.stringify(
                    {
                        "book": book,
                        "chapter": chapter,
                        "num_lesson_probs": num_lesson_probs,
                        "num_mixed_probs": num_mixed_probs,
                    }
                    )
                );

                document.getElementById('chapter').value = chapter + 1
                document.getElementById('num_lesson_probs').value = ''
                document.getElementById('num_lesson_probs').focus();
                document.getElementById('button_delete').className = "unhidden"
            }
        }
        var button_submit = document.getElementById('button');
        button_submit.addEventListener('click', submit, true);



        function delete_previous() {
            if (chapter == null){
                alert('There is no previous entry to remove.')
            }
            else {
                var request = new XMLHttpRequest();
                request.open("POST", "/remove_problem_number", true);
                request.send(JSON.stringify(
                    {
                        "book": book,
                        "chapter": chapter,
                        "num_lesson_probs": num_lesson_probs,
                        "num_mixed_probs": num_mixed_probs
                    }
                    )
                );
                alert('The previous entry (book: ' + book + ', chapter: ' + chapter + ', num_lesson_probs: ' + num_lesson_probs + ', num_mixed_probs: ' + num_mixed_probs + ') was succesfully deleted.')
                chapter = chapter
                document.getElementById('chapter').value = chapter
                document.getElementById('num_lesson_probs').focus();
                document.getElementById('button_delete').className = "hidden"
            }
        }
        var button_delete = document.getElementById('button_delete');
        button_delete.addEventListener('click', delete_previous, true);


    }


</script>


</body>
</html>

<!--todo: page to delete an entry by chapter-->
<!--todo: page to modify an entry by chapter-->