<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <style>
        .hidden {
            display: none;
        }
        .unhidden {
            display: inline-block;
        }
    </style>
<body>

<select id="choose_kid">
    <option value="" selected>choose kid</option>
    <option value="calvin">Calvin</option>
    <option value="samuel">Samuel</option>
    <option value="kay">Kay</option>
</select><br><br>
<select id="choose_book">
    <option value="" selected>choose book</option>
    <option value="Math_5_4">Math 5/4</option>
    <option value="Math_6_5">Math 6/5</option>
    <option value="Math_7_6">Math 7/6</option>
    <option value="Math_8_7">Math 8/7</option>
    <option value="Algebra_1_2">Algebra 1/2</option>
    <option value="Algebra_1">Algebra 1</option>
    <option value="Algebra_2">Algebra 2</option>
    <option value="Advanced_math">Advanced Math</option>
    <option value="Calculus">Calculus</option>
</select><br><br>

<input id="start_chapter" type="text" placeholder="Start Chapter" name="start_chapter"><br><br>
<input id="start_problem" type="text" placeholder="Start Problem" name="start_problem"><br><br>
<input id="end_chapter" type="text" placeholder="End Chapter" name="end_chapter"><br><br>
<input id="end_problem" type="text" placeholder="End Problem" name="end_problem"><br><br>
<input id="start_time" type="text" placeholder="Start Time" name="start_time"><br><br>
<input id="end_time" type="text" placeholder="End Time" name="end_time"><br><br>
<!--<input id="chapter" type="text" placeholder="Chapter" name="chapter"><br><br>-->

<button id="button" class="unhidden"/>Submit</button><br><br>
<input type="button_number" onclick="location.href='/';" value="main menu" />

<script>
    var kid;
    var book;
    var start_chapter;
    var start_problem;
    var end_chapter;
    var end_problem;
    var start_time;
    var end_time;
    var alphabet = 'abcdefghijklmnopqrstuvwxyz';
    var miss_list = [];
    var add_miss_list = [];
    var rem_miss_list = [];

    document.getElementById('choose_kid').focus();

    function createProblems(chap, probs) {
        var num;
        var h_tag;
        var t_tag;
        var count = 0;
        h_tag = document.createElement("H1");
        t_tag = document.createTextNode("Lesson " + chap);
        h_tag.appendChild(t_tag);
        document.body.appendChild(h_tag);
        for (var i = 0; i < probs.length; i++) {
            if ((probs[i].match(/[a-z]/i) != null) & (count == 0)) {
                h_tag = document.createElement("H3");
                t_tag = document.createTextNode("Lesson Practice");
                h_tag.appendChild(t_tag);
                document.body.appendChild(h_tag);
                count++;
            }
            else if ((probs[i].match(/[a-z]/i) == null) & (count == 1)) {
                h_tag = document.createElement("H3");
                t_tag = document.createTextNode("Mixed Practice");
                h_tag.appendChild(t_tag);
                document.body.appendChild(h_tag);
                count++;
            }
            var btn = document.createElement("BUTTON");
            btn.id = 'btn' + toString(probs[i]);
            btn.setAttribute('style', "font-size:24px; background: green");
            btn.innerHTML = probs[i];
            btn.value = chap + '_' + probs[i];
            document.body.appendChild(btn);
            btn.addEventListener('click', function (event) {
                if (event.target.style.background === "red") {
                    event.target.style.background = "green";
//                    miss_list = miss_list.filter(function(el){ return ((el.chapter != event.target.value.split('_')[0].toString()) && (el.problem != event.target.value.split('_')[1].toString())); });
                    var jsonData_miss = {}
                    jsonData_miss['chapter'] = event.target.value.split('_')[0].toString()
                    jsonData_miss['problem'] = event.target.value.split('_')[1].toString()
                    rem_miss_list.push(jsonData_miss)
                }
                else {
                    event.target.style.background = "red";

                    var jsonData = {}
                    jsonData['chapter'] = event.target.value.split('_')[0].toString()
                    jsonData['problem'] = event.target.value.split('_')[1].toString()
                    add_miss_list.push(jsonData)
                }
            });
        }
    };

    function createButton() {
        var div = document.createElement("div");
        document.body.appendChild(div);

        var btn = document.createElement("BUTTON");
        btn.id = 'button_record';
        btn.innerHTML = 'Record';
        div.appendChild(btn);
        btn.addEventListener('click', function (event) {
            var request = new XMLHttpRequest();
            request.responseType = 'json';
            request.open("POST", "/add_missed_problems", true);
            request.send(JSON.stringify(
                {
                    "kid": kid,
                    "book": book,
                    "start_chapter": start_chapter,
                    "start_problem": start_problem,
                    "end_chapter": end_chapter,
                    "end_problem": end_problem,
                    "start_time": start_time,
                    "end_time": end_time,
                    "add_miss_list": add_miss_list,
                    "rem_miss_list": rem_miss_list
                }
                )
            );
            window.location.href = '/enter_performance';
        });
    };

    document.addEventListener('DOMContentLoaded', init, false);
    function init() {
        function submit() {
            var kid_e = document.getElementById("choose_kid")
            kid = kid_e.options[kid_e.selectedIndex].text;
            var book_e = document.getElementById("choose_book")
            book = book_e.options[book_e.selectedIndex].value;
            start_chapter = parseInt(document.getElementById('start_chapter').value)
            start_problem = document.getElementById('start_problem').value
            end_chapter = parseInt(document.getElementById('end_chapter').value)
            end_problem = document.getElementById('end_problem').value
            start_time = document.getElementById('start_time').value
            end_time = document.getElementById('end_time').value

            if ((kid == 'choose kid') || (book == 'choose book') || (isNaN(start_chapter)) || (start_problem == "") || (isNaN(end_chapter)) || (end_problem == "")){
                alert('Fill in all fields, dummy.')
            }
            else {
                var request = new XMLHttpRequest();
                request.responseType = 'json';
                request.open("POST", "/query_chapter", true);
                request.onload = function() {
                    var chapter_details = JSON.parse(JSON.stringify(request.response))
                    for (var key in chapter_details) {
                       if (chapter_details.hasOwnProperty(key)) {
                           createProblems(key, chapter_details[key].replace(/'/g, '').replace('[', '').replace(']', '').split(', '))
                        }
                    }
                    createButton()
                };
                request.send(JSON.stringify(
                    {
                        "book": book,
                        "start_chapter": start_chapter,
                        "start_problem": start_problem,
                        "end_chapter": end_chapter,
                        "end_problem": end_problem
                    }
                    )
                );
            }
            document.getElementById('button').className = "hidden"
        }
        var button_submit = document.getElementById('button');
        button_submit.addEventListener('click', submit, true);
    }


</script>


</body>
</html>


<!--todo: the submit button became hidden after pushing submit and all of the fields were not filled in-->



<!--todo; remove the most recent entry-->

<!--todo: css the div housing the record button-->

<!--todo: I'm going to want to make it so all I have to do is enter a new child into the database and it populates this list, or somethign.-->