<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <style>
        .hidden {
            display: none;
        }
        .unhidden {
            display: inline-block;
        }
    </style>
<body>

<select id="choose_kid">
    <option value="" selected>choose kid</option>
    <option value="calvin">Calvin</option>
    <option value="samuel">Samuel</option>
    <option value="kay">Kay</option>
</select><br><br>
<select id="choose_book">
    <option value="" selected>choose book</option>
    <option value="Math_5_4">Math 5/4</option>
    <option value="Math_6_5">Math 6/5</option>
    <option value="Math_7_6">Math 7/6</option>
    <option value="Math_8_7">Math 8/7</option>
    <option value="Alg_1_2">Algebra 1/2</option>
    <option value="Alg_1">Algebra 1</option>
    <option value="Alg_2">Algebra 2</option>
    <option value="Adv_math">Advanced Math</option>
    <option value="Calc">Calculus</option>
</select><br><br>

<input id="chapter" type="text" placeholder="Chapter" name="chapter"><br><br>

<button id="button" class="unhidden"/>Submit</button>



<!--<p>Click the questions that were answered incorrectly</p>-->


<!--https://www.w3schools.com/js/js_ajax_http.asp-->
<!--XMLHttpRequest-->


<script>
    var alphabet = 'abcdefghijklmnopqrstuvwxyz'

    document.getElementById('choose_kid').focus();

    function createProblems(num)
	{
	   for(var i=1; i<=num; i++)
	   {
//	    var nextChar = str.charAt(i);
	    var btn = document.createElement("BUTTON");
	    btn.id = 'btn' + toString(i);
    	btn.setAttribute('style',"font-size:24px; background-color: #4CAF50");
    	btn.innerHTML = i;
    	btn.value = toString(i);
    	document.body.appendChild(btn);
    	}
    };

    document.addEventListener('DOMContentLoaded', init, false);
    function init() {
        function submit(callback) {
            var kid_e = document.getElementById("choose_book")
            var kid = kid_e.options[kid_e.selectedIndex].text;
            var book_e = document.getElementById("choose_book")
            var book = book_e.options[book_e.selectedIndex].value;
            var chapter = parseInt(document.getElementById('chapter').value)

            if ((kid == 'choose kid') || (book == 'choose book') || (isNaN(chapter))){
                alert('Fill in all fields, dummy.')
            }
            else {
                var request = new XMLHttpRequest();
                request.responseType = 'json';
                request.open("POST", "/query_chapter", true);
                request.onload = function() {
                    var chapter_details = JSON.parse(JSON.stringify(request.response))
                    createProblems(chapter_details['num_mixed_probs'])

//                    todo: here
                    alert(alphabet.substr(0, alphabet.indexOf(chapter_details['num_lesson_probs']) + 1))
//                    alert(alphabet.substr(0, chapter_details['num_lesson_probs']))
//                    num_lesson_probs
                }
                request.send(JSON.stringify(
                    {
                        "book": book,
                        "chapter": chapter
                    }
                    )
                );
            }
            document.getElementById('button').className = "hidden"



        }
        var button_submit = document.getElementById('button');
        button_submit.addEventListener('click', submit, true);

    }


</script>


</body>
</html>


<!--todo: put lesson review and mixed review headers above buttons-->


<!--todo: I'm going to want to make it so all I have to do is enter a new child into the database and it populates this list, or somethign.-->