<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel=stylesheet>

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel=stylesheet>
    <link href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" rel=stylesheet>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/landing-page.min.css') }}" rel=stylesheet>
    <style>
        img {
            width: 100px;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Login</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>-->
      <!--</li>-->
      <li class="nav-item">
        <a class="nav-link" href="/quit">Quit</a>
      </li>
    </ul>
  </div>
</nav>

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" id="travisContainer">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <a href=# onclick="passCreate()">
                        <div class="features-icons-icon d-flex">
                            <img src="/static/if_Polo_shirt_3445574.png" class="m-auto text-primary" id="travis">
                        </div>
                    </a>
                    <h3>Travis</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <a href=# onclick="goForm('Calvin')">
                        <div class="features-icons-icon d-flex">
                            <img src="/static/if_vehicles-23_809718.png" class="m-auto text-primary">
                        </div>
                    </a>
                    <h3>Calvin</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <a href=# onclick="goForm('Samuel')">
                        <div class="features-icons-icon d-flex">
                            <img src="/static/if_sandwich_bread_ham_tomato_salad_food_meal_fast_restaurant_junk_fastfood_3465575.png"
                                 class="m-auto text-primary">
                        </div>
                    </a>
                    <h3>Samuel</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<script>

//    function createButton() {
//        var div = document.createElement("div");
//        document.body.appendChild(div);
//
//        var btn = document.createElement("BUTTON");
//        btn.id = 'button_record';
//        btn.innerHTML = 'Record';
//        div.appendChild(btn);
//        btn.addEventListener('click', function (event) {
//            var request = new XMLHttpRequest();
//            request.responseType = 'json';
//            request.open("POST", "/add_missed_problems", true);
//            request.send(JSON.stringify(
//                {
//                    "kid": kid,
//                    "book": book,
//                    "start_chapter": start_chapter,
//                    "start_problem": start_problem,
//                    "end_chapter": end_chapter,
//                    "end_problem": end_problem,
//                    "date": date,
//                    "start_time": start_time,
//                    "end_time": end_time,
//                    "add_miss_list": add_miss_list,
//                    "rem_miss_list": rem_miss_list,
//                    "test": test
//                }
//                )
//            );
//            window.location.href = '/enter_performance';
//        });
//    }
//    ;
//
//    var form = document.createElement("form");
//    form.method = "POST";
//    form.action = "/main_menu";
////    form.action = "/ayo";

        function goForm(kid) {
            var request = new XMLHttpRequest();
            request.responseType = 'json';
            request.open("POST", "/user_name", true);
            request.send(JSON.stringify(
                {
                    "person": kid
                }
                )
            );
            window.location.href = '/main_menu';

//            var name = document.createElement("input");
//            name.name = "person";
//
//            name.value = kid;
//
//            form.appendChild(name);
//            document.body.appendChild(form);
//
//            form.submit()
        }

        function passCreate() {
            var div = document.getElementById('travisContainer');

            var input = document.createElement("input")
            input.type = "password";
            input.className = "form-control";
            input.placeholder = "Password";
            input.id = "travisPassword";

            div.appendChild(input);
            document.getElementById('travisPassword').focus();


            var btn = document.createElement("BUTTON");
            btn.id = 'button_password';
            btn.innerHTML = 'Sign In';
            btn.className = 'btn btn-primary';
            div.appendChild(btn);
            btn.addEventListener('click', function (event) {
                if (input.value === "password") {
                    goForm("Travis")
                }
                else {
                    div.removeChild(input)
                    div.removeChild(btn)
                    passCreate()
                }
            })
        }


</script>

</body>