<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Menu</title>

    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel=stylesheet>

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel=stylesheet>
    <link href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" rel=stylesheet>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/landing-page.min.css') }}" rel=stylesheet>

<style>
    img {
        width: 70px;
    }
</style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quit">Quit</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="container" style="padding: 20px">
            <div class="row"><h5>Enter Book Information into Database</h5></div>
            <div class="row text-center" id="math_book_info" style="border:1px solid black"></div>
        </div>
        <div class="container" style="padding: 20px">
            <div class="row"><h5>Enter Daily Activity into Database</h5></div>
            <div class="row" id="daily_info" style="border:1px solid black"></div>
        </div>
        <div class="container" style="padding: 20px">
            <div class="row"><h5>Learn</h5></div>
            <div class="row" id="practice" style="border:1px solid black"></div>
        </div>
        <div class="container" style="padding: 20px">
            <div class="row"><h5>Monitor Performance</h5></div>
            <div class="row" id="dashboard" style="border:1px solid black"></div>
        </div>
    </div>
</section>

<script>
    userName = {{ user_name | tojson }}
    var div_math_book_info = document.getElementById('math_book_info');
    var div_daily_info = document.getElementById('daily_info');
    var div_prac = document.getElementById('practice');
    var div_dash = document.getElementById('dashboard');

    function iconCreate(href, file, title, description, div_thing){
        var div1 = document.createElement("div")
        div1.className = "col-lg-3"
        var div2 = document.createElement("div")
        div2.className = "features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3"
        var div3 = document.createElement("div")
        div3.className = "features-icons-icon d-flex"

        var a = document.createElement("a");
        a.href = href

        var img = document.createElement("img")
        img.className = "m-auto text-primary"
        img.src = file

        var h3 = document.createElement("h3")
        h3.innerHTML = title

        var p = document.createElement("p")
        p.innerHTML = description
        p.className = "lead mb-0"

        div3.appendChild(img)
        a.appendChild(div3)
        div2.appendChild(a)
        div2.appendChild(h3)
        div2.appendChild(p)
        div1.appendChild(div2)

        div_thing.appendChild(div1)
    }

    if (userName != "Travis") {
        iconCreate("/vocab", "/static/if_alphabet_3592685.png", "Vocabulary", "Practice vocabulary.", div_prac)
        iconCreate("/dashboards", "/static/if_bar-chart_1608569.png", "Dashboards", "View performance over time and by concept.", div_dash)
    }
    else {
        iconCreate("/enter_problem_number", "/static/if_LIBRARY_2_753918.png", "Number of Problems", "Specify the number of lesson and mixed problems for a given book and lesson.", div_math_book_info)
        iconCreate("/enter_problem_origin", "/static/if_93_171452.png", "Origin of Problems", "For each problem, specify the lesson from which it originates.", div_math_book_info)

        iconCreate("/enter_performance", "/static/if_performance-clock-speed_353431.png", "Performance", "Record which problems were missed on a child's daily assignment.", div_daily_info)
        iconCreate("/scripture_commentary", "/static/GospelLibrary.png", "Scripture Commentary", "Record questions, principles, and evidences from a child's daily scripture searching.", div_daily_info)
        iconCreate("/weekly_forms_create", "/static/iconfinder_content-form-contract-article-paper_3209382.png", "Weekly Forms", "Generate the forms for the week.", div_daily_info)

        iconCreate("/vocab", "/static/if_alphabet_3592685.png", "Vocabulary", "Practice vocabulary.", div_prac)

        iconCreate("/dashboards", "/static/if_bar-chart_1608569.png", "Dashboards", "View performance over time and by concept.", div_dash)
    }

</script>

</body>
</html>


<!--todo: center the icons-->
<!--todo: add title for rows?-->
