<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
        scoreDataTime = {{ score_data_time | tojson}}
        function parse(str) {
            var y = str.substr(0, 4),
                m = str.substr(5, 2),
                d = str.substr(8, 2);
            return new Date(y, m, d).toString().split(' ').slice(0, 4).join(' ')
        }
        for (i = 0; i < scoreDataTime.length; i++) {
            scoreDataTime[i].date = parse(scoreDataTime[i].date)
        }
//
//        scoreDataMixed = {{ score_data_mixed | tojson}}
//        probDataMixed = {{ prob_data | tojson}}
//
        var body = d3.select("body");
        var svg = body.append("svg");
//
//        var kid;
//        var dashboard = "time";
//        function go() {
//            if (dashboard == "time") {
//                renderTimePlot(
//                    scoreDataTime.filter(function (d) {return d.kid == kid}),
//                    kid
//                );
//            }
//            else {
//                renderMixedPlot(
//                    scoreDataMixed.filter(function (d) {return d.kid == kid}),
//                    probDataMixed.filter(function (d) {return d.kid == kid})
//                );
//            }
//        }
//
//        function calvin() {
//            document.getElementById('dropdownMenuLink').focus();
//            document.getElementById('dropdownMenuLink').innerHTML = "Calvin";
//            kid = "Calvin";
//            go();
//        }
//        document.getElementById('Calvin').addEventListener('click', calvin, true);
//        function samuel() {
//            document.getElementById('dropdownMenuLink').focus();
//            document.getElementById('dropdownMenuLink').innerHTML = "Samuel";
//            kid = "Samuel";
//            go();
//        }
//        document.getElementById('Samuel').addEventListener('click', samuel, true);
//        function time_click() {
//            document.getElementById('dropdownMenuLinkDash').focus();
//            document.getElementById('dropdownMenuLinkDash').innerHTML = "Performance Over Time";
//            dashboard = "time";
//            go();
//        }
//        document.getElementById('time').addEventListener('click', time_click, true);
//        function mixed_click() {
//            document.getElementById('dropdownMenuLinkDash').focus();
//            document.getElementById('dropdownMenuLinkDash').innerHTML = "Mixed Problems by Origin";
//            dashboard = "mixed";
//            go();
//        }
//        document.getElementById('mixed').addEventListener('click', mixed_click, true);
//
//
        function renderTimePlot(scoreData, name) {
            bookData = [
                {"position": 0, "book": "Math_5_4", "color": "RebeccaPurple", "name": "Math 5/4"},
                {"position": 1, "book": "Math_6_5", "color": "Crimson", "name": "Math 6/5"},
                {"position": 2, "book": "Math_7_6", "color": "DarkOrange", "name": "Math 7/6"},
                {"position": 3, "book": "Math_8_7", "color": "Gold", "name": "Math 8/7"},
                {"position": 4, "book": "Algebra_1_2", "color": "ForestGreen", "name": "Algebra 1/2"},
                {"position": 5, "book": "Algebra_1", "color": "SteelBlue", "name": "Algebra 1"},
                {"position": 6, "book": "Algebra_2", "color": "SlateGrey", "name": "Algebra 2"},
                {"position": 7, "book": "Advanced_math", "color": "DarkSlateGrey", "name": "Advanced Math"},
                {"position": 8, "book": "Calculus", "color": "Sienna", "name": "Calculus"},
                {"position": 9, "book": "", "color": "White", "name": ""},
                {"position": 10, "book": "", "color": "Plum", "name": "Average Score"}
            ];

            var leftMargin = 50,
                rightMargin = 35,
                rightPanel = 170,
                axisGap = 15,
                width = window.innerWidth - leftMargin - axisGap - rightPanel - rightMargin,
                topMargin = 15,
                bottomMargin = 100,
                height = 500 - topMargin - bottomMargin,
                translateText = "translate(" + (leftMargin + axisGap) + "," + topMargin + ")",
                scaleFactor,
                scaleText;

            svg.selectAll("*").remove();
            svg.attr("width", "100%").attr("height", "500px");

            var div = d3.select("body").append("div")
                .attr("class", "tooltip")
                .style("opacity", 0);

            var lineGroup = svg.append("g")
                .attr("transform", translateText)
                .attr("class", "line")
                .style("stroke-width", 5);

            var xAxisGroup = svg.append("g")
                .attr("transform", "translate(" + (leftMargin + axisGap) + "," + (height + topMargin) + ")")
                .attr("class", "axis");
            var yAxisGroup = svg.append("g")
                .attr("transform", "translate(" + leftMargin + "," + (topMargin) + ")")
                .attr("class", "axis");

    //        todo: I think some of these could be combined into one group
            var legendGroup = svg.append("g")
                .attr("transform", "translate(" + (leftMargin + width + 2 * axisGap) + "," + (topMargin) + ")")
                .attr("class", "legend");
            var legTextGroup = svg.append("g")
                .attr("transform", "translate(" + (leftMargin + width + 2 * axisGap) + "," + (topMargin) + ")")
                .attr("class", "legend");
            var legLineGroup = svg.append("g")
                .attr("transform", "translate(" + (leftMargin + width + 2 * axisGap) + "," + (topMargin) + ")")
                .attr("class", "legend");
            var statsGroup = svg.append("g")
                .attr("transform", "translate(" + (leftMargin + width + 2 * axisGap) + "," + (topMargin + 231) + ")")
                .attr("class", "legend");
            var statsTextGroup = svg.append("g")
                .attr("transform", "translate(" + (leftMargin + width + 2 * axisGap) + "," + (topMargin + 231) + ")")
                .attr("class", "legend");

            var x = d3.scale.ordinal();
            var xAxis = d3.svg.axis();
            var y = d3.scale.linear();
            var yAxis = d3.svg.axis();

            var data_periods = scoreData.length + 1;
            scaleFactor = width / (data_periods - 1);
            scaleText = "scale(" + scaleFactor + ",1)";

            // LEGEND
            legTextGroup.selectAll("text")
                .data(bookData)
                .enter().append("text")
                .attr("x", 5)
                .attr("y", function (d) { return d.position * 20 + 20})
                .text(function (d) {return d.name});
            legLineGroup.selectAll("line")
                .data(bookData)
                .enter().append("line")
                .attr("x1", 120)
                .attr("y1", function (d) { return d.position * 20 + 13})
                .attr("x2", 160)
                .attr("y2", function (d) { return d.position * 20 + 13})
                .attr("stroke", function (d) {return d.color});
            for (i = 0; i < bookData.length; i++) {
                lineData = scoreData.filter(function (d) {return d.book == bookData[i]["book"]});

                var lineFunction  = d3.svg.line()
                    .x(function (d) { return d.position * scaleFactor; })
                    .y(function (d) { return height * (1 - d.correct); })
                    .interpolate('linear');

                svg.append("path")
                    .attr("transform", translateText)
                    .attr("d", lineFunction(lineData))
                    .attr("stroke", bookData[i]["color"])
                    .attr("stroke-width", 2)
                    .attr("fill", "none");
            }
            legendGroup.append("rect")
                .attr("x", 0)
                .attr("y", 0)
                .attr("width", rightPanel)
                .attr("height", 230)

            var max = 0;
            var min = 1;
            var _sum = 0;
            for (i = 0; i < scoreData.length; i++) {
                _sum += scoreData[i].value;
                if (scoreData[i].value > max) {max = scoreData[i].value}
                if (scoreData[i].value < min) {min = scoreData[i].value}
                if (i == scoreData.length - 1) {
                    _sum += scoreData[i].value;
                    if (scoreData[i].value2 > max) {max = scoreData[i].value2}
                    if (scoreData[i].value2 < min) {min = scoreData[i].value2}
                }
            }
            var mean = _sum / data_periods;
            var _sum2 = 0;
            for (i = 0; i < scoreData.length; i++) {
                _sum2 += Math.pow((scoreData[i].value1 - mean), 2);
                if (i == scoreData.length - 1) {
                    _sum2 += Math.pow((scoreData[i].value2 - mean), 2);
                }
            }
            var sd = Math.sqrt(_sum2 / data_periods);

            statsData = [
                {"position": 0, "name": "Count", "value": data_periods},
                {"position": 1, "name": "Mean", "value": mean.toFixed(2)},
                {"position": 2, "name": "St. Dev.", "value": sd.toFixed(2)},
                {"position": 3, "name": "Max", "value": max},
                {"position": 4, "name": "Min", "value": min}
            ];
            statsGroup.append("rect")
                .attr("x", 0)
                .attr("y", 0)
                .attr("width", rightPanel)
                .attr("height", 105);
            statsTextGroup.selectAll("text")
                .data(statsData)
                .enter().append("text")
                .attr("x", 5)
                .attr("y", function (d) { return d.position * 20 + 20})
                .text(function (d) {return d.name + ': ' + d.value});

            // Points
            lineGroup.selectAll("circle")
                .data(scoreData)
                .enter().append("circle")
                .attr("cx", function (d) {
                    return d.position * scaleFactor
                })
                .attr("cy", function (d) {
                    return height * (1 - d.correct)
                })
                .attr("r", "3")
                .on("mouseover", function (d) {
                    div.transition()
                        .duration(200)
                        .style("opacity", .9);
                    div.html(d.date + ": " + d.value)
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY - 28) + "px");
                })
                .on("mouseout", function (d) {
                    div.transition()
                        .duration(500)
                        .style("opacity", 0);
                })
//            lineGroup.append("circle")
//                .attr("cx", scoreData[scoreData.length - 1].position2 * scaleFactor)
//                .attr("cy", height * (1 - scoreData[scoreData.length - 1].value2))
//                .attr("r", "2.5")
//                .on("mouseover", function (d) {
//                    div.transition()
//                        .duration(200)
//                        .style("opacity", .9);
//                    div.html(scoreData[scoreData.length - 1].date2 + ": " + scoreData[scoreData.length - 1].value2)
//                        .style("left", (d3.event.pageX - 140) + "px")
//                        .style("top", (d3.event.pageY - 28) + "px");
//                })
//                .on("mouseout", function (d) {
//                    div.transition()
//                        .duration(500)
//                        .style("opacity", 0);
//                });

            // MEAN SCORE LINE
            lineGroup.append("line")
                .attr("x1", 0)
                .attr("y1", height * (1 - mean))
                .attr("x2", width)
                .attr("y2", height * (1 - mean))
                .attr("stroke", "Maroon")
                .style("opacity", .3)
                .on("mouseover", function (d) {
                    div.transition()
                        .duration(200)
                        .style("opacity", .9);
                    div.html("Average score: " + (mean).toFixed(2))
                        .style("left", (d3.event.pageX) + "px")
                        .style("top", (d3.event.pageY - 28) + "px");
                })
                .on("mouseout", function (d) {
                })

            // GOAL LINE
            lineGroup.append("line")
                .attr("x1", 0)
                .attr("y1", height * .1)
                .attr("x2", width)
                .attr("y2", height * .1)
                .attr("stroke", "DarkSalmon")
                .style("opacity", .3)

            // AXES
            date_array = []
            for (i = 0; i < scoreData.length; i++) {
                date_array.push(scoreData[i].date1)
            }
            date_array.push(scoreData[scoreData.length - 1].date2)

            y.domain([0, 1])
                .range([height, 0]);
            yAxis
                .orient("left")
                .scale(y);
            yAxisGroup
                .call(yAxis);

            x.domain(date_array)
                .rangePoints([0, width]);
            xAxis
                .scale(x)
                .orient("bottom");

            xAxisGroup
                .call(xAxis)
                .selectAll("text")
                    .attr("y", 0)
                    .attr("x", 50)
                    .attr("dy", ".35em")
                    .attr("transform", "rotate(90)")
                    .style("text-anchor", "middle");

        }
//
//        function renderMixedPlot(scoreData, probData) {
//            var first_chapter = probData.map(function(el){return el.chapter}).reduce(function(el){return Math.min(el)})
//            var max_chapter = Math.max(...probData.map(function(el){return el.chapter}))
//
//
//            var total_margin = {top: 10, right: 10, bottom: 10, left: 10},
//                plot_margin = {top: 50, right: 100, bottom: 50, left: 50},
//                total_width = 600,
//                plot_width = total_width - total_margin.right - total_margin.left,
//                total_height = (scoreData.length * 20) + total_margin.top + plot_margin.top + total_margin.bottom + plot_margin.bottom,
//                plot_height = total_height - total_margin.top - total_margin.bottom;
//
//            var x = d3.scale.linear()
//                .range([0, plot_width - plot_margin.left - plot_margin.right]);
//            var y = d3.scale.ordinal()
//                .rangeBands([0, plot_height - plot_margin.top - plot_margin.bottom], 0.2, 0);
//            var xAxis = d3.svg.axis()
//                .scale(x)
//                .orient("top")
//                .ticks(5, "%");
//            var yAxis = d3.svg.axis()
//                .scale(y)
//                .orient("left");
//            function keys(d) {
//                return d.origin;
//            }
//
//            svg.selectAll("*").remove();
//            svg.attr("width", 1500).attr("height", 1500)
//
//            var svg_main = svg
//                .append("g")
//                .attr("width", plot_width)
//                .attr("height", plot_height)
//                .attr("transform", "translate(" + total_margin.left + "," + total_margin.top + ")");
//
//            svg_main.append("g")
//                .attr("class", "label")
//                .attr("transform", "translate(" + (plot_margin.left + plot_width / 3) + ", 0)")
//                .append("text")
//                .attr("x", 0)
//                .attr("y", 15)
//                .text("Percent Correct");
//            svg_main.append("g")
//                .attr("class", "label")
//                .attr("transform", "rotate(270)")
//                .append("text")
//                .attr("x", -plot_height / 2)
//                .attr("y", 15)
//                .text("Lesson Number");
//
//            percentData = [
//                {"position": 0, "value": .2},
//                {"position": 1, "value": .4},
//                {"position": 2, "value": .6},
//                {"position": 3, "value": .8},
//                {"position": 4, "value": 1}
//            ];
//            svg_main.append("g")
//                .attr("transform", "translate(" + plot_margin.left + "," + plot_margin.top + ")")
//                .selectAll("line")
//                .data(percentData)
//                .enter().append("line")
//                .attr("x1", function(d) { return x(d.value + .01)})
//                .attr("x2", function(d) { return x(d.value + .01)})
//                .attr("y1", 0)
//                .attr("y2", plot_height - plot_margin.top)
//                .attr("stroke", "SlateGrey")
//                .attr("opacity", ".3")
//
//
//            var barGroup = svg_main.append("g")
//                .attr("class", "bar")
//                .attr("transform", "translate(" + plot_margin.left + "," + plot_margin.top + ")");
//
//
//            var total_margin_sup = {top: 10, right: 10, bottom: 10, left: 10},
//                plot_margin_sup = {top: 25, right: 30, bottom: 25, left: 30},
//                total_width_sup = 600,
//                plot_width_sup = total_width_sup - total_margin_sup.right - total_margin_sup.left,
//                total_height_sup = (130) + total_margin_sup.top + plot_margin_sup.top + total_margin_sup.bottom + plot_margin_sup.bottom,
//                plot_height_sup = total_height_sup - total_margin_sup.top - total_margin_sup.bottom,
//                gap = 5,
//                left_shift_sup = 600;
//
//            var svg_sup = svg
//                .append("g")
//                .attr("width", plot_width_sup)
//                .attr("height", plot_height_sup);
//
//            var x_sup = d3.scale.linear()
//                .range([0, plot_width_sup - plot_margin_sup.left - plot_margin_sup.right]);
//            var y_sup = d3.scale.ordinal()
//                .rangeBands([0, plot_height_sup - plot_margin_sup.top - plot_margin_sup.bottom], 0.2, 0);
//            var xAxis_sup = d3.svg.axis()
//                .scale(x_sup)
//                .orient("bottom")
//                .tickFormat(d3.format("d"));
//            var yAxis_sup = d3.svg.axis()
//                .scale(y_sup)
//                .orient("left");
//
//            x.domain([0, d3.max(scoreData, function (element) {
//                return element.mean
//            })]);
//            y.domain(scoreData.map(function (element) {
//                return element.origin
//            }));
//
//            svg_main.append("g")
//                .call(xAxis)
//                .attr("class", "x axis")
//                .attr("transform", "translate(" + (plot_margin.left + x(.01)) + "," + plot_margin.top + ")");
//
//
//            svg_main.append("g")
//                .call(yAxis)
//                .attr("class", "y axis")
//                .attr("transform", "translate(" + plot_margin.left + "," + plot_margin.top + ")");
//
//            barGroup.selectAll("rect")
//                .data(scoreData, keys)
//                .enter().append("rect")
//                .attr("x", 0)
//                .attr("y", function (d) {
//                    return y(d.origin)
//                })
//                .attr("width", function (d) {
//                    return x(d.mean + .01)
//                })
//                .attr("height", y.rangeBand())
//                .attr("fill", function (d) {
//                    const z = (1 - d.mean) / Math.sqrt(d.mean * (1 - d.mean) * (1 / d.count))
//                    if (z > 2.326) {
//                        return "CornflowerBlue"
//                    }
//                    else if (z > 1.645) {
//                        return "Blue"
//                    }
//                    else {
//                        return "DarkSlateBlue"
//                    }
//                })
//                .on("mouseover", function (d) {
//                    svg.append("line")
//                        .attr("class", "line")
//                        .attr("x1", x(d.mean + .01) + total_margin.left + plot_margin.left)
//                        .attr("y1", y(d.origin) + total_margin.top + plot_margin.top + (y.rangeBand() / 2))
//                        .attr("x2", (left_shift_sup + total_margin.left))
//                        .attr("y2", y(d.origin) + total_margin.top + plot_margin.top + (y.rangeBand() / 2))
//                        .style("stroke", "darkslateblue")
//                        .style("stroke-width", 1);
//
//
//                    svg_sup.attr("transform", "translate(" + (left_shift_sup + total_margin.left) + "," + (total_margin.top + y(d.origin))+ ")");
//
//                    svg_sup.append("text")
//                        .attr("y", 0)
//                        .attr("x", 0)
//                        .attr("class", "hover")
//                        .attr("font-family", "sans-serif")
//                        .attr("font-size", "12px")
//                        .style("fill", "SlateGrey")
//                        .style("opacity", ".5")
//                        .text("Chapter " + d.origin + " (mean: " + d.mean.toFixed(2) + ", n: " + d.count + ")");
//
//                    probStuff = probData.filter(function (d_sup) {return d_sup.origin == d.origin})
//
//                    chapters = [];
//                    for (i = 0; i < probStuff.length; i++) {
//                        chapters.push(probStuff[i].chapter)
//                    }
//                    chapters = [...new Set(chapters)];
//                    xAxis_sup.ticks(5);
//
//                    x_sup.domain([first_chapter, max_chapter]);
//                    y_sup.domain([11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]);
//
//// todo: click to hold supplementary plot and zoom in and out.
//// todo: too many chapters...fix max_chapter
//
//                    svg_sup.append("rect")
//                        .attr("x", 0)
//                        .attr("y", gap)
//                        .attr("width", plot_width_sup)
//                        .attr("height", plot_height_sup)
//                        .style("stroke", "darkslateblue")
//                        .style("fill", "white")
//                        .style("stroke-width", 1);
//
//                    svg_sup.append("g")
//                        .call(xAxis_sup)
//                        .attr("class", "axis")
//                        .attr("transform", "translate(" + (plot_margin_sup.left) + "," + (plot_height_sup - plot_margin_sup.bottom) + ")");
//
//
////                    RECTANGLES
//                    var width = (plot_width_sup - plot_margin_sup.left - plot_margin_sup.right - (max_chapter - first_chapter) * gap) / (max_chapter - first_chapter)
//                    svg_sup.append("g")
//                        .attr("class", "bar")
//                        .attr("transform", "translate(" + (plot_margin_sup.left - (width / 2)) + "," + (plot_margin_sup.top - gap) + ")")
//                        .selectAll("rect")
//                        .data(probStuff)
//                        .enter().append("rect")
//                        .attr("x", function (d_sup) {
//                            return x_sup(d_sup.chapter)
//                        })
//                        .attr("y", function (d_sup) {
//                            return y_sup(d_sup.position)
//                        })
//                        .attr("width", width)
//                        .attr("height", 10)
//                        .attr("fill", function (d_sup) {
//                            if (d_sup.correct == 0) {
//                                return "cornflowerblue"
//                            }
//                            else {
//                                return "darkblueslate"
//                            }
//                        })
//                })
//                .on("mouseout", function (d) {
//                    svg.select("line.line").remove();
//                    svg_sup.selectAll("*").remove();
//                });
//
//        }
//
//
////        BACKEND
//// todo: can I get it to work faster? I'm sure I can combine the data extraction from mongo and the processing to make this go faster.
//// todo: other todos from saxon_math_command.py
//
////        TIME
//// todo: line tooltip for book
//// todo: click on book and shows the datapoints, stats, and lines for that book
//// todo: be able to click and then get the stats only for that segment.
//
////        MIXED
//// todo: I don't know why but for Samuel chapter 2 in chapter 10 there are only 10 listed but should be 11.
//// todo: get the chapter ordered correctly
//// todo: Samuel investigations
//// todo: put a feature in that allows me to order bars by either mean or chapter origin number
//// todo: fix the bottom of the bar graph...it would get cut off after too many more chapters
//// todo: I think I'd like to do something different with the x-axis...maybe start with that chapter and go up to the chapter from which the child worked last.
////-maybe only the most recent twenty? the most recent twenty chapters? I don't know.
////-in any case, I think I should rotate the number label at the bottom
////-make everything a function of the length between the max chapter and the origin chapter.
////-zoom in on click
//// todo: the axis labels need work
//
////        TESTS
////todo: include the test performance on this page as well.
//
//
</script>
</body>
</html>