<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .hidden {
        display: none;
    }
    .unhidden {
        display: inline-block;
    }
</style>

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel=stylesheet>
    <!--<link rel="stylesheet" href="style.css">-->
    <!--<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel=stylesheet>-->
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Scripture Commentary</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/main_menu">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/quit">Quit</a>
      </li>
    </ul>
  </div>
</nav>


<div class="col-xs-12 col-sm-12">
    <form onsubmit="return false;">
    <!--<form>-->
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="choose_kid">Name</label>
                <select id="choose_kid" class="form-control">
                    <option value="choose" selected>Choose...</option>
                    <option>Calvin</option>
                    <option>Samuel</option>
                    <option>Kay</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="date">Date</label>
                <input class="form-control" id="date" placeholder="yyyy-mm-dd">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="start_book">Start Book</label>
                <input class="form-control" id="start_book" placeholder="">
            </div>
            <div class="form-group col-md-1">
                <label for="start_chapter">Start Chapter</label>
                <input class="form-control" id="start_chapter" placeholder="">
            </div>
            <div class="form-group col-md-1">
                <label for="start_verse">Start Verse</label>
                <input class="form-control" id="start_verse" placeholder="">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <label for="end_book">End Book</label>
                <input class="form-control" id="end_book" placeholder="">
            </div>
            <div class="form-group col-md-1">
                <label for="end_chapter">End Chapter</label>
                <input class="form-control" id="end_chapter" placeholder="">
            </div>
            <div class="form-group col-md-1">
                <label for="end_verse">End Verse</label>
                <input class="form-control" id="end_verse" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control" id="comment" rows="3"></textarea>
        </div>
        <!--<div class="form-group" id="add_another1">-->
            <!--<button class="btn btn-primary" type="button">Add another comment</button>-->
        <!--</div>-->
        <div class="form-row">
            <div class="col-md-auto">
                <input class="btn btn-primary" id="submit" type="submit"/>
            </div>
            <div class="col-md-auto" id="add_another">
                <button id="btn" class="hidden">Change boilerplate information</button>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById('choose_kid').focus();
    var payload;

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
        dd = '0' + dd
    }

    if (mm < 10) {
        mm = '0' + mm
    }
    document.getElementById('date').value = yyyy + '-' + mm + '-' + dd;

    document.addEventListener('DOMContentLoaded', init, false);
    function init() {
        function submit() {
            var kid_e = document.getElementById("choose_kid")
            kid = kid_e.options[kid_e.selectedIndex].text;

            payload = {
                "name": kid,
                "date": document.getElementById('date').value,
                "start_book": document.getElementById('start_book').value,
                "start_chapter": document.getElementById('start_chapter').value,
                "start_verse": document.getElementById('start_verse').value,
                "end_book": document.getElementById('end_book').value,
                "end_chapter": document.getElementById('end_chapter').value,
                "end_verse": document.getElementById('end_verse').value,
                "comment": document.getElementById('comment').value
            }
            var request = new XMLHttpRequest();
            request.open("POST", "/mongo_call_script", true);
            request.send(JSON.stringify(
                payload
                ));

            document.getElementById('comment').value = ""

            btn = document.getElementById("btn")
            btn.className = "btn btn-primary"
        }
        var button_submit = document.getElementById('submit');
        button_submit.addEventListener('click', submit, true);


        function anotherComment() {
            var kid_e = document.getElementById("choose_kid")
            kid_e.value = "choose";

            document.getElementById('start_book').value = "";
            document.getElementById('start_chapter').value = "";
            document.getElementById('start_verse').value = "";
            document.getElementById('end_book').value = "";
            document.getElementById('end_chapter').value = "";
            document.getElementById('end_verse').value = "";

            btn = document.getElementById("btn")
            btn.className = "hidden"
            document.getElementById('choose_kid').focus();
        }
        var button_another = document.getElementById('btn');
        button_another.addEventListener('click', anotherComment, true);
    }


</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>


</body>
</html>
